<nav>
	<style>
		nav {
			font-size: 25px;
			max-width: 100%;
			overflow-x: auto;
			scrollbar-width: none;
			flex-shrink: 0;
		}
		nav::-webkit-scrollbar {
			display: none;
		}
	</style>
	<a href="/">            <i class="fa-solid fa-home"></i></a>
	<a href="/login">       <i class="fa-solid fa-lock-open"></i></a>
	<a href="/statistiques"><i class="fa-solid fa-chart-pie"></i></a>
	<a href="/results">     <i class="fa-solid fa-square-poll-horizontal"></i></a>
	<% if ( locals.logged ) { %>
		<a href="/set">     <i class="fa-solid fa-sliders"></i></a>
		<a href="/addUser"> <i class="fa-solid fa-user-plus"></i></a>
		<a href="/edit">    <i class="fa-solid fa-pen-to-square"></i></a>
		<a href="/road">    <i class="fa-solid fa-road"></i></a>
	<% } %>
</nav>