<nav>
	<style>
		nav {
			display: flex;
			margin: 5px;
			font-size: 25px;
			max-width: 100%;
			overflow-x: auto;
			scrollbar-width: none;
			flex-shrink: 0;
		}
		nav::-webkit-scrollbar {
			display: none;
		}
		svg {
			max-width: 30px;
			max-height: 30px;
		}

		#gecko {
			fill: black !important;
		}
		#rafters {
			fille: red;
		}
		#climber_body,
		#climber_legs,
		#climber_head,
		#climber_rope {
			fill: black;
		}
	</style>
	<span            style="order:0"><%- include( "../../public/imgs/fpe.svg" ) %></span>
	<a href="/"      style="order:1"><i class="fa-solid fa-home"></i><a>
	<a href="/login" style="order:2" class="login" ><i class="fa-solid fa-lock-open"></i></a>
	<!-- <a href="/statistiques"><i class="fa-solid fa-chart-pie"></i></a> -->
	<%
		switch ( locals.logged )
		{
			case "admin": { %>
				<a href="/startStop" style="order:7"><i class="fa-solid fa-power-off"></i></a>
	<% 		}
			case "editor": { %>
				<a href="/addUser" style="order:6"><i class="fa-solid fa-user-plus"></i></a>
				<a href="/road"    style="order:5"><i class="fa-solid fa-road"></i></a>
				<a href="/edit"    style="order:4"><i class="fa-solid fa-pen-to-square"></i></a>
	<%		}
			case true: 
			case "juge": { %>
					<a href="/set"     style="order:3"><%- include( "../../public/imgs/climber.svg" ) %></a>
	<% 		}
		}
	%>
	<span id="timer" style="order:100;flex-grow:1;text-align: right;"></span>
	<script nonce="<%- locals.nonce %>">
		(()=>{
			let socket = io ( );
			let timer = document.getElementById ( "timer" );

			socket.on ( "timer", (msg)=>{
				timer.innerText = msg;

				if ( Number ( msg ) == 0 )
				{
					document.body.style.backgroundColor = "blue";

					setTimeout ( ()=>{
						document.body.style.backgroundColor = "";
					}, 1000 );
				}
			});

			socket.on ( "updateNav", (msg)=>{
				<% if ( "editor" == locals.logged )	{ %>
					window.location.reload ( );
				<% } else { %>
					document.body.style.backgroundColor = "blue";

					setTimeout ( ()=>{
						document.body.style.backgroundColor = "";
					}, 1000 );
				<% } %>
			});
		})();
	</script>
</nav>