<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, user-scalable=yes"> -->
		<meta name="viewport" content="width=device-width,height=device-height initial-scale=1"> 
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<% include nav %>

		<section>
			<form>
				<select id="genre" onchange="drawTable();"></select><select id="categorie" onchange="drawTable();"></select>
			</form>
			<div id="dataContent">
			</div>
		</section>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			function loadPage( name )
			{
				
			}
			
			let socket = io ( );

			let users = <%- JSON.stringify(users) %>;
			let thisUser = undefined;
			let voix = <%- JSON.stringify(voix) %>;
			let score = <%- JSON.stringify(score) %>;

			let g_categorie = document.getElementById ( "categorie" );
			let g_genre = document.getElementById ( "genre" );

			console.log( score);

			socket.on ( 'scores', function ( data )
			{
				if ( !score[ data.users ] )
				{
					score[ data.users ] = [];
				}
				if ( data.voix )
				{
					score[ data.users ][ data.voix ] = data.value;
				}
				updateTable ( );
				drawTable ( );
			});

			socket.on ( 'users', function ( name )
			{
				let i;
				for ( i = 0; i < users.length; i++ )
				{
					if ( users[ i ].name == name )
					{
						break;
					}
				}

				if ( i == users.length )
				{
					users.push ( name );
				}
				
				if ( !score[ name ] )
				{
					score[ name ] = [];
				}

				updateTable ( );
				drawTable ( );
			});

			function updateTable ( id = voix.length )
			{
				// voix.length : total
				// voix.length + 1 : rank
				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						continue;
					}
					let some = 0;
					for ( let j = 0; j < voix.length; j++ )
					{
						if ( ( voix[ j ].type == 'vitesse' ) &&
							score[ users[ i ].name ][ j ] )
						{
							let tmp = ( voix[ j ].score.time - score[ users[ i ].name ][ j ] )
							some += ( tmp < 0 )? 0: tmp;
						}
						else
						{
							some += score[ users[ i ].name ][ j ] | 0;
						}
					}
					score[ users[ i ].name ][ voix.length ] = some;
				}

				// put user without score at the end
				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						for ( let j = i+1; j < users.length; j++ )
						{
							if ( !score[ users[ j ].name ] )
							{
								continue;
							}
							
							let tmp = users[ i ];
							users[ i ] = users[ j ];
							users[ j ] = tmp;
							break;
						}
						continue;
					}
				}

				// order users
				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					for ( let j = i+1; j < users.length; j++ )
					{
						if ( !score[ users[ j ].name ] )
						{
							break;
						}


						if ( !score[ users[ i ].name ][ id ] || 
							score[ users[ j ].name ][ id ] &&
							( score[ users[ i ].name ][ id ] < score[ users[ j ].name ][ id ] ) )
						{
							let tmp = users[ i ];
							users[ i ] = users[ j ];
							users[ j ] = tmp;
						}
					}
				}

				let lastPoint = score[ users[ 0 ].name ][ id ];
				let lastRank = 1;

				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					if ( lastPoint != score[ users[ i ].name ][ id ] )
					{
						lastPoint = score[ users[ i ].name ][ id ];
						lastRank = i + 1;
					}
					score[ users[ i ].name ][ voix.length + 1 ] = lastRank;
				}
			}

			function drawTable ( id = voix.length )
			{
				let str = "<table><tr><td></td><td>h/f</td><td>cat.</td>";
				// header
				for ( let j = 0; j < voix.length; j++ )
				{
					str += '<td onclick="updateTable('+j+');drawTable('+j+');">'+voix[ j ].name+'</td>';
				}
				str += '<td onclick="updateTable();drawTable();">Total</td><td>rank</td>';

				for ( let i = 0; i < users.length; i++ )
				{
					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						console.log( g_categorie.value );
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						console.log( g_genre.value );
						continue;
					}

					// nom
					if ( users[ i ].name == thisUser )
					{
						str += '<tr style="background-color:grey;">';
					}
					else
					{
						str += '<tr>';
					}

					str += '<td onclick="updateUser(this.innerHTML);">'+users[ i ].name+'</td>';
					str += '<td>'+((users[ i ].genre=="homme")?"M":"F")+'</td>';
					str += '<td>'+users[ i ].categorie+'</td>';

					if ( !score[ users[ i ].name ] )
					{
						str += '</tr>';
						continue;
					}

					// score
					for ( let j = 0; j < voix.length + 2; j++ )
					{
						if ( j == id )
						{
							str += '<td style="background-color:grey;">';
						}
						else
						{
							str += '<td>';
						}

						if ( score[ users[ i ].name ][ j ] )
						{
							str += score[ users[ i ].name ][ j ]+'</td>';
						}

						str+='</td>';
					}
					str += '</tr>';
				}
				document.getElementById ( "dataContent" ).innerHTML = str+'</table>';
			}

			function updateUser ( user )
			{
				if ( !user )
				{
					return ( false );
				}

				if ( users.includes ( user ) )
				{
					thisUser = user;
					drawTable ( );
				}
			}

			function updateSelector ( )
			{
				let genre = [];
				let categorie = [];

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !categorie.includes( users[ i ].categorie ) )
					{
						categorie.push ( users[ i ].categorie );
					}

					if ( !genre.includes( users[ i ].genre ) )
					{
						genre.push ( users[ i ].genre );
					}
				}

				
				while ( g_genre.options.length )
				{
					g_genre.options.remove ( 0 );
				}
				g_genre.options.add ( new Option ( "genre", 0 ) );
				g_genre.options[ 0 ].value = "all";
				for ( let i = 0; i < genre.length; i++ )
				{
					g_genre.options.add ( new Option ( genre[ i ], i + 1 ) );
					g_genre.options[ i + 1 ].value = genre[ i ];
				}


				while ( g_categorie.options.length )
				{
					g_categorie.options.remove ( 0 );
				}
				g_categorie.options.add ( new Option ( "age", 0 ) );
				g_categorie.options[ 0 ].value = "all";
				for ( let i = 0; i < categorie.length; i++ )
				{
					g_categorie.options.add ( new Option ( categorie[ i ], i + 1 ) );
					g_categorie.options[ i + 1 ].value = categorie[ i ];
				}
			}

			updateSelector ( );
			updateTable ( );
			drawTable ( );
		</script>
	</body>
</html>
