<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include nav %>
		<section>
			<div>
				<form>
					<select id="genre" onchange="drawTable();"></select>
					<select id="categorie" onchange="drawTable();"></select>
				</form>
				<div id="dataContent">
				</div>
				<div>
					<canvas width="700" height="400" class="chartjs-render-monitor" id="pointGraph"></canvas>
					<canvas width="700" height="700" class="chartjs-render-monitor" id="userGraph"></canvas>
					<ul id="legendGraph" class="smothText">
						<li>moyenne tenté : moyenne des points obtenu pas les personnes ayant tenté cette voie</li>
						<li>moyenne totale : moyen des points obtenu sur cette voie par toues les personnes ayant participé</li>
					</ul>
				</div>
			</div>
		</section>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/chartjs.js"></script>
		<script type="text/javascript"> // globals vars
			let socket = io ( );

			let users = <%- JSON.stringify(users) %>;
			let thisUser = undefined;
			let voie = <%- JSON.stringify(voie) %>;
			let score = <%- JSON.stringify(score) %>;

			let g_categorie = document.getElementById ( "categorie" );
			let g_genre = document.getElementById ( "genre" );
			
			var pointConfig = {
				// type: 'bar',
				type: 'line',
				data: {
					labels: [],
					datasets: [
						{
							label: 'points',
							backgroundColor: "rgba(255,0,0,0.1)",
							borderColor: "#f00",
							data: [],
							// fill: true,
							fill: false,
							lineTension: 0
						},
					]
				},
				options: {
					animation: false,
					responsive: true,
					legend: {
						// display: true,
						display: false,
					},
					title: {
						display: false,
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'users rank'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'points',
							},
							ticks: {
								suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
							}
						}]
					}
				}
			};

			var userConfig = {
				type: 'radar',
				data: {
					labels: [ ],
					datasets: [
						{
							backgroundColor: "rgba(255,0,0,0.2)",
							borderColor: "#f00",
							borderWidth: 2,
							data: [ ],
							label: ''
						},
						{
							backgroundColor: "rgba(0,255,255,0.2)",
							borderColor: "rgba(0,255,255,0.2)",
							data: [],
							label: 'moyenne tenté'
						},
						{
							backgroundColor: "rgba(0,0,255,0.4)",
							borderColor: "rgba(0,0,255,0.4)",
							data: [],
							label: 'moyenne total'
						}
					]
				},
				options: {

					maintainAspectRatio: true,
					spanGaps: false,
					elements: {
						line: {
							tension: 0
						}
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
        			scale: {
						ticks: {
							display:false,
						}
					},
					plugins: {
						filler: {
							propagate: false
						},
						'samples-filler-analyser': {
							target: 'chart-analyser'
						}
					},
				}
			};

			var average = {
				"all" : [],
				"tryed" : [],
				"player" : 0
			}
		</script>
		<script type="text/javascript"> // graph
			function drawCurves ( id = voie.length )
			{
				let pointCtx = document.getElementById ( "pointGraph" ).getContext ( "2d" );
				let userEl = document.getElementById ( "userGraph" );
				let userCtx = userEl.getContext ( "2d" );

				pointConfig.data.datasets[ 0 ].data = [];
				pointConfig.data.labels = [];

				// draw evolution of points for selected way
				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						continue;
					}

					pointConfig.data.datasets[ 0 ].data.push ( getScore( users[ i ].name, id ) );
					pointConfig.data.labels.push ( i + 1 );
				}

				new Chart ( pointCtx, pointConfig );


				// draw user slelected graph
				if  ( thisUser &&
					score[ thisUser ] )
				{
					userConfig.data.datasets[ 0 ].label = thisUser;
					for ( let i = 0; i < voie.length; i++ )
					{
						userConfig.data.labels[ i ] = voie[ i ].name;
						if ( voie[ i ].type == 'vitesse' )
						{
							userConfig.data.datasets[ 0 ].data[ i ] =  ( voie[ i ].score.time - getScore( thisUser, i ) ) | 0
						}
						else
						{
							userConfig.data.datasets[ 0 ].data[ i ] = getScore( thisUser, i ) | 0;
						}
						userConfig.data.datasets[ 1 ].data[ i ] = average.all[ i ] / average.tryed[ i ];
						userConfig.data.datasets[ 2 ].data[ i ] = average.all[ i ] / average.player;
					}
					userEl.style.display = "";
					document.getElementById ( "legendGraph" ).style.display = "";
					
					new Chart ( userCtx, userConfig );
				}
				else
				{
					userEl.style.display = "none";
					document.getElementById ( "legendGraph" ).style.display = "none";
				}
			}
		</script>
		<script type="text/javascript"> // sockets
			socket.on ( 'scores', function ( data )
			{
				setScore ( data.usr, data.voie, data.points );

				updateTable ( );
				drawTable ( );
			});

			socket.on ( 'users', function ( usr )
			{
				let i;
				for ( i = 0; i < users.length; i++ )
				{
					if ( users[ i ].name == usr.name )
					{
						break;
					}
				}

				if ( i == users.length )
				{
					users.push ( usr );
				}

				updateTable ( );
				drawTable ( );
			});
		</script>
		<script type="text/javascript"> // utils
			function setScore ( name, id, value )
			{
				if ( !name ||
					( id == undefined ) )
				{
					return ( false );
				}

				if ( !score[ name ] )
				{
					score[ name ] = [];
				}

				if ( !score[ name ][ id ] )
				{
					score[ name ][ id ] = [];
				}
				
				score[ name ][ id ].push ( value );
			}
			function getScore ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}
				
				let max = score[ name ][ id ][ 0 ];
				for ( let i = 1; i < score[ name ][ id ].length; i++ )
				{
					if ( parseFloat( score[ name ][ id ][ i ] ) > parseFloat( max ) )
					{
						max = score[ name ][ id ][ i ];
					}
				}
				return ( max );
			}
			function getnbTests ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}

				return ( score[ name ][ id ].length );
			}
		</script>
		<script type="text/javascript">
			function updateTable ( id = voie.length )
			{
				// voie.length : total
				// voie.length + 1 : rank

				// init average struct
				for ( let i = 0; i < voie.length; i++ )
				{
					average.all[ i ] = 0;
					average.tryed[ i ] = 0;
					average.player = 0;
				}

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						continue;
					}
					let somme = 0;

					for ( let j = 0; j < voie.length; j++ )
					{
						if ( ( voie[ j ].type == 'vitesse' ) &&
							getScore( users[ i ].name, j ) )
						{
							let tmp = ( voie[ j ].score.time - getScore( users[ i ].name, j ) );
							somme += ( tmp < 0 )? 0: tmp;
							
							average.all[ j ] += tmp; // totalise points for all users
							if ( getScore( users[ i ].name, j ) )
							{
								average.tryed[ j ]++;
							}
						}
						else
						{
							somme += getScore( users[ i ].name, j ) | 0;
							average.all[ j ] += getScore( users[ i ].name, j ) | 0;

							if ( getScore( users[ i ].name, j ) )
							{
								average.tryed[ j ]++;
							}
						}

					}

					if ( score[ users[ i ].name ] )
					{
						average.player++;
					}

					console.log( average );

					setScore( users[ i ].name, voie.length, somme );
				}

				// put user without score at the end
				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						for ( let j = i+1; j < users.length; j++ )
						{
							if ( !score[ users[ j ].name ] )
							{
								continue;
							}
							
							let tmp = users[ i ];
							users[ i ] = users[ j ];
							users[ j ] = tmp;
							break;
						}
						continue;
					}
				}

				// order users
				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					for ( let j = i+1; j < users.length; j++ )
					{
						if ( !getScore( users[ j ].name, id ) )
						{
							break;
						}

						if ( ( id < voie.length ) &&
							( voie[ id ].type == 'vitesse' ) )
						{ // order speed test (less is better)
							if ( parseFloat( getScore( users[ i ].name, id ) ) > parseFloat( getScore( users[ j ].name, id ) ) )
							{
								let tmp = users[ i ];
								users[ i ] = users[ j ];
								users[ j ] = tmp;
							}
						}
						else if ( !getScore( users[ i ].name, id ) || 
							getScore( users[ j ].name, id ) &&
							( getScore( users[ i ].name, id ) < getScore( users[ j ].name, id ) ) )
						{
							let tmp = users[ i ];
							users[ i ] = users[ j ];
							users[ j ] = tmp;
						}
					}
				}

				// set ranks
				let lastPoint = getScore( users[ 0 ].name, id );
				let lastRank = 1;

				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					if ( lastPoint != getScore( users[ i ].name, id ) )
					{
						lastPoint = getScore( users[ i ].name, id );
						lastRank = i + 1;
					}
					setScore( users[ i ].name, voie.length + 1, lastRank );
				}
			}

			function drawTable ( id = voie.length )
			{
				let str = "<table id=\"results\"><tr><td onclick=\"updateUser();\"></td><td>h/f</td><td>cat.</td>";
				// header
				for ( let j = 0; j < voie.length; j++ )
				{
					str += '<td onclick="updateTable('+j+');drawTable('+j+');">'+voie[ j ].name+'</td>';
				}
				str += '<td onclick="updateTable();drawTable();">Total</td><td>rank</td>';

				for ( let i = 0; i < users.length; i++ )
				{
					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						continue;
					}

					// nom
					if ( users[ i ].name == thisUser )
					{
						str += '<tr class="hightlight">';
					}
					else
					{
						str += '<tr>';
					}

					str += '<td onclick="updateUser(this.innerHTML);">'+users[ i ].name+'</td>';
					str += '<td>'+((users[ i ].genre=="homme")?"M":"F")+'</td>';
					str += '<td>'+users[ i ].categorie+'</td>';

					if ( !score[ users[ i ].name ] )
					{
						str += '</tr>';
						continue;
					}

					// score
					for ( let j = 0; j < voie.length + 2; j++ )
					{
						if ( j == id )
						{
							str += '<td class="hightlight">';
						}
						else
						{
							str += '<td>';
						}

						if ( getScore( users[ i ].name, j ) )
						{
							str += getScore( users[ i ].name, j );
						}

						str+='</td>';
					}
					str += '</tr>';
				}
				document.getElementById ( "dataContent" ).innerHTML = str+'</table>';
				drawCurves ( id );
			}

			function updateUser ( user )
			{
				thisUser = user;
				drawTable ( );
			}

			function updateSelector ( )
			{
				let genre = [];
				let categorie = [];

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !categorie.includes( users[ i ].categorie ) )
					{
						categorie.push ( users[ i ].categorie );
					}

					if ( !genre.includes( users[ i ].genre ) )
					{
						genre.push ( users[ i ].genre );
					}
				}

				
				while ( g_genre.options.length )
				{
					g_genre.options.remove ( 0 );
				}
				g_genre.options.add ( new Option ( "genre", 0 ) );
				g_genre.options[ 0 ].value = "all";
				for ( let i = 0; i < genre.length; i++ )
				{
					g_genre.options.add ( new Option ( genre[ i ], i + 1 ) );
					g_genre.options[ i + 1 ].value = genre[ i ];
				}


				while ( g_categorie.options.length )
				{
					g_categorie.options.remove ( 0 );
				}
				g_categorie.options.add ( new Option ( "age", 0 ) );
				g_categorie.options[ 0 ].value = "all";
				for ( let i = 0; i < categorie.length; i++ )
				{
					g_categorie.options.add ( new Option ( categorie[ i ], i + 1 ) );
					g_categorie.options[ i + 1 ].value = categorie[ i ];
				}
			}

			updateSelector ( );
			updateTable ( );
			drawTable ( );
		</script>
	</body>
</html>
