<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include nav %>
		<section>
			<div>
				<form>
					<select id="genre" onchange="setRank();drawTable();"></select>
					<select id="categorie" onchange="setRank();drawTable();"></select>
					<select id="club" onchange="setRank();drawTable();"></select>
				</form>
				<div id="dataContent">
				</div>
				<div>
					<canvas 
						width="700"
						height="400"
						class="chartjs-render-monitor"
						id="pointGraph">
					</canvas>
					<canvas 
						width="700"
						height="700"
						class="chartjs-render-monitor"
						id="userGraph">
					</canvas>
					<ul id="legendGraph" class="smothText">
						<li>moyenne tenté : moyenne des points obtenu pas les personnes 
							ayant tenté cette voie</li>
						<li>moyenne totale : moyenne des points obtenu sur cette voie 
							par toues les personnes ayant participé</li>
					</ul>
				</div>
			</div>
		</section>
		<script src="/socket.io/socket.io.js"></script>
		<% include default_include_js %>
		<script src="/js/socket.js"></script>
		<script type="text/javascript" src="/js/chartjs.js"></script>
		<script type="text/javascript"> // globals vars
			let thisUser = undefined;

			let g_genre = document.getElementById ( "genre" );
			let g_categorie = document.getElementById ( "categorie" );
			let g_club = document.getElementById ( "club" );

			const g_mode = "<%- mode %>";

			// const topId = rankId + 1;
			// const testTopId = topId + 1;
			// const zoneId = testTopId + 1;
			// const testZoneId = zoneId + 1;

			var pointConfig = {
				// type: 'bar',
				type: 'line',
				data: {
					labels: [],
					datasets: [
						{
							label: 'points',
							backgroundColor: "rgba(255,0,0,0.1)",
							borderColor: "#f00",
							data: [],
							// fill: true,
							fill: false,
							lineTension: 0
						},
					]
				},
				options: {
					animation: false,
					responsive: true,
					legend: {
						// display: true,
						display: false,
					},
					title: {
						display: false,
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'users rank'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'points',
							},
							ticks: {
								suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
							}
						}]
					}
				}
			};

			var userConfig = {
				type: 'radar',
				data: {
					labels: [ ],
					datasets: [
						{
							backgroundColor: "rgba(255,0,0,0.2)",
							borderColor: "#f00",
							borderWidth: 2,
							data: [ ],
							label: ''
						},
						{
							backgroundColor: "rgba(0,255,255,0.2)",
							borderColor: "rgba(0,255,255,0.2)",
							data: [],
							label: 'moyenne tenté'
						},
						{
							backgroundColor: "rgba(0,0,255,0.4)",
							borderColor: "rgba(0,0,255,0.4)",
							data: [],
							label: 'moyenne total'
						},
						{
							backgroundColor: "rgba(0,0,0,0)",
							borderColor: "rgba(0,0,0,1)",
							borderWidth: 6,
							data: [],
							label: 'max'
						}
					]
				},
				options: {

					maintainAspectRatio: true,
					spanGaps: false,
					elements: {
						line: {
							tension: 0
						}
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scale: {
						ticks: {
							display:false,
						}
					},
					plugins: {
						filler: {
							propagate: false
						},
						'samples-filler-analyser': {
							target: 'chart-analyser'
						}
					},
				}
			};

			var average = {
				"all" : {},
				"tryed" : {},
				"player" : 0
			}

			let chartjs = {};
		</script>
		<script type="text/javascript"> // graph
			function drawCurves ( id = "total" )
			{
				<% if ( mode == 'a' ) { %>
					let userEl = document.getElementById ( "userGraph" );

					pointConfig.data.datasets[ 0 ].data = [];
					pointConfig.data.labels = [];

					// draw evolution of points for selected way
					for ( let i = 0; i < users.length; i++ )
					{
						if ( !score[ users[ i ].name ] )
						{
							continue;
						}

						if ( ( g_categorie.value != "all" ) &&
							( users[ i ].categorie != g_categorie.value ) )
						{
							continue;
						}

						if ( ( g_genre.value != "all" ) &&
							( users[ i ].genre != g_genre.value ) )
						{
							continue;
						}

						if ( ( g_club.value != "all" ) &&
							( users[ i ].club != g_club.value ) )
						{
							continue;
						}

						let v = getScore( users[ i ].name, id );
						if ( voie[ id ] &&
							voie[ id ].score )
						{
							// for diff and bloc this will get the good value
							// for speed and wait this will displau value
							v = voie[ id ].score[ v ] || v;
						}

						pointConfig.data.datasets[ 0 ].data.push ( v );
						pointConfig.data.labels.push ( getScore( users[ i ].name ) );
					}

					if  ( chartjs[ 'point' ] )
					{
						chartjs[ 'point' ].update ( );
					}
					else
					{
						chartjs[ 'point' ] = new Chart ( document.getElementById ( "pointGraph" ).getContext ( "2d" ), pointConfig );
					}

					// draw user slelected graph
					if  ( thisUser &&
						score[ thisUser ] )
					{
						userConfig.data.datasets[ 0 ].label = thisUser;

						let voiesName = Object.keys( voie );
						for ( let i = 0; i < voiesName.length; i++ )
						{
							userConfig.data.labels[ i ] = voiesName[ i ];

							let value = getScore( thisUser, voiesName[ i ] );

							let v = voie[ voiesName[ i ] ];
							if ( v &&
								v.score )
							{
								value = v.score[ value ] || value || 0;
							}

							if ( v.type == 'vitesse' )
							{
								userConfig.data.datasets[ 0 ].data[ i ] =  ( value )? v.score.time - value : 0;
							}
							else
							{
								userConfig.data.datasets[ 0 ].data[ i ] = value;
							}
							userConfig.data.datasets[ 1 ].data[ i ] = average.all[ voiesName[ i ] ] / average.tryed[ voiesName[ i ] ];
							userConfig.data.datasets[ 2 ].data[ i ] = average.all[ voiesName[ i ] ] / average.player;


							switch ( v.type )
							{
								case 'bloc':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = v.score.top || 0;
									break;
								}
								case 'diff':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = v.score[ v.score.length - 1 ] || 0;
									break;
								}
								case 'vitesse':
								case 'endrance':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = v.score.time || 0;
									break;
								}
								case 'slack':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = v.score.distance || 0;
									break;
								}
								default:
								{
									break;
								}
							}
						}

						userEl.style.display = "";
						document.getElementById ( "legendGraph" ).style.display = "";

						if  ( chartjs[ 'user' ] )
						{
							chartjs[ 'user' ].update ( );
						}
						else
						{
							chartjs[ 'user' ] = new Chart (  userEl.getContext ( "2d" ), userConfig );
						}
					}
					else
					{
						userEl.style.display = "none";
						document.getElementById ( "legendGraph" ).style.display = "none";
					}
				<% } else { %>
					document.getElementById ( "userGraph" ).style.display = "none";
					document.getElementById ( "userGraph" ).style.display = "none";
					document.getElementById ( "legendGraph" ).style.display = "none";
				<% } %>
			}
		</script>
		<script type="text/javascript" src="/js/utils.js"></script>
		<script type="text/javascript">
			function calcTotal ( id = "total", mode = g_mode )
			{ // get data to calculate average and globals metrics
				// init average struct
				let v = Object.keys( voie );
				for ( let i = 0; i < v.length; i++ )
				{
					average.all[ i ] = 0;
					average.tryed[ i ] = 0;
					average.player = 0;
				}

				if ( !users )
				{
					return "error";
				}

				switch ( mode )
				{
					case "a":
					case "autre":
					{ // for non offical contest mode
						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{ // if no score for some user, treat the next
								continue;
							}

							let somme = 0;

							for ( let j = 0; j < v.length; j++ )
							{
								let l_voie = voie[ v[ j ] ];

								let value = getScore( users[ i ].name, v[ j ] );
								if ( value == "echec" )
								{
									value = 0;
								}
								else
								{
									value = l_voie.score[ value ] || value;
								}
								if ( isNaN( value ) )
								{
									console.log( "error : value should be a number, verify config for "+v[ j ] );
									console.log( value );
									return;
								}

								if ( !average.all[ v[ j ] ]  )
								{
									average.all[ v[ j ] ] = 0;
								}

								if ( !average.tryed[ v[ j ] ]  )
								{
									average.tryed[ v[ j ] ] = 0;
								}


								if ( !value )
								{ // la voie n'a pas été faite
									continue;
								}

								switch ( l_voie.type )
								{
									case "vitesse":
									{
										let tmp = ( l_voie.score.time - value );
										tmp = ( tmp < 0 )? 0: tmp;
										somme += Number( tmp );

										average.all[ v[ j ] ] += Number( tmp ); // totalise points for all users
										if ( value )
										{
											average.tryed[ v[ j ] ]++;
										}
										break;
									}
									case "endurance":
									{
										let tmp = 0;
										if ( l_voie.score.time )
										{
											tmp = Math.min ( l_voie.score.time, value )
										}
										else
										{
											tmp = value;
										}
										somme += Number( tmp );

										// TODO
										average.all[ v[ j ] ] += Number( tmp ); // totalise points for all users
										if ( value )
										{
											average.tryed[ v[ j ] ]++;
										}
										break;
									}
									case "manual":
									default:
									{
										somme += Number( value || 0 );
										average.all[ v[ j ] ] += Number( value || 0 );

										if ( value )
										{
											average.tryed[ v[ j ] ]++;
										}

										break;
									}
								}
							}

							if ( score[ users[ i ].name ] )
							{
								average.player++;
							}

							setScore( users[ i ].name, "total", somme, 0 );
						}
						break;
					}
					case "b":
					case "bloc":
					{
						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							// get the four value needed to calc bloc rank
							let top = getNbTop ( users[ i ].name );
							let nbTestTop = getNbEssaisTop ( users[ i ].name );
							let zone = getNbZone ( users[ i ].name );
							let nbTestZone = getNbEssaisZone ( users[ i ].name );

							setScore( users[ i ].name, "top", top );
							setScore( users[ i ].name, "testTop", nbTestTop );

							setScore( users[ i ].name, "zone", zone );
							setScore( users[ i ].name, "testZone", nbTestZone );

							for ( let j = 0; j < v.length; j++ )
							{
								if ( voie[ v[j] ].type != "bloc" )
								{
									continue;
								}
								average.tryed[ j ] += getNbTests ( users[ i ].name, v[j] );
								average.all[ j ] += top;
							}

							if ( score[ users[ i ].name ] )
							{
								average.player++;
							}

							let str = top+'.'+nbTestTop+'.'+zone+'.'+nbTestZone;

							setScore( users[ i ].name, "total", str, 0 );
						}
						break;
					}
					case "d":
					case "diff":
					case "difficulte":
					{
						let qRank = {};

						// init local rank
						for ( i = 0; i < users.length; i++ )
						{
							qRank[ users[ i ].name ] = 0;
						}

						for ( let track = 0; track < v.length; track++ )
						{ // dans l'idée on utilise le rang de chaque utilisateur sur chaque vois pour calculer le rang global
							if ( voie[ v[track] ].type != "diff" )
							{
								continue;
							}

							orderTable ( v[track] );
							setRank ( v[track] );

							for ( i = 0; i < users.length; i++ )
							{
								let tmp = 0;
								if ( !score[ users[ i ].name ] )
								{ // pas de score pour cet utilisateur
									continue;
								}
								else if ( !score[ users[ i ].name ][ v[track] ] )
								{ // pas de score de diff pour cet utilisateur
									tmp = users.length;
								}
								else
								{
									tmp = score[ users[ i ].name ][ "rank" ][ 0 ];
								}

								console.log( users[ i ].name + " : " + tmp );

								qRank[ users[ i ].name ] += tmp * tmp;
							}
						}

						for ( i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							setScore( users[ i ].name, "total", Math.sqrt ( qRank[ users[ i ].name ] ), 0 );
						}
						break;
					}
					case "v":
					case "vitesse":
					{
						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							let somme = 0;

							for ( let j = 0; j < voie.length; j++ )
							{
								let time = getScore( users[ i ].name, j );
								if ( !time )
								{
									setScore( users[ i ].name, total, undefined, 0 );
									break;
								}
								somme += parseFloat ( time );

								setScore( users[ i ].name, total, somme, 0 );
							}
						}
						break;
					}
				}
			}

			function dropDownUser ( id = "total" )
			{ // put user without score at the end
				let somethingChange = false;
				do
				{
					somethingChange = false;
					for ( let i = 0; i < users.length - 1; i++ )
					{
						if ( !score[ users[ i ].name ] &&
							score[ users[ i + 1 ].name ] )
						{
							let tmp = users[ i ];
							users[ i ] = users[ i + 1 ];
							users[ i + 1 ] = tmp;
							somethingChange = true;
						}
					}
				}
				while ( somethingChange );


				do
				{
					somethingChange = false;
					for ( let i = 0; i < users.length - 1; i++ )
					{
						if ( !getScore( users[ i ].name, id ) && 
							getScore( users[ i + 1 ].name, id ) )
						{
							let tmp = users[ i ];
							users[ i ] = users[ i + 1 ];
							users[ i + 1 ] = tmp;
							somethingChange = true;
						}
					}
				}
				while ( somethingChange );
			}

			function orderTable ( id = "total", mode = g_mode )
			{
				dropDownUser ( id );

				switch ( mode )
				{
					case "a":
					case "autre":
					{
						let v = Object.keys( voie );

						if ( ( v.indexOf ( id ) >= 0 ) &&
							( voie[ id ].type == 'vitesse' ) )
						{ // order speed test (less is better)
							if ( parseFloat( getScore( users[ i ].name, v[id] ) ) > parseFloat( getScore( users[ j ].name, v[id] ) ) )
							{
								let tmp = users[ i ];
								users[ i ] = users[ j ];
								users[ j ] = tmp;
							}
						}
						else
						{
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								for ( let j = i+1; j < users.length; j++ )
								{
									let value_J = getScore( users[ j ].name, id );
									if ( !value_J )
									{
										break;
									}
									
									let value_I = getScore( users[ i ].name, id );
									if ( isNaN ( value_I ) )
									{
										value_I = voie[ id ].score[ value_I ];
									}

									if ( isNaN ( value_J ) )
									{
										value_J = voie[ id ].score[ value_J ];
									}

									if ( !value_I || 
										( value_I < value_J ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									}
								}
							}
						}
						break;
					}
					case "b":
					case "bloc":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								let top_I = getNbTop ( users[ i ].name );
								let top_J = getNbTop ( users[ i + 1 ].name );

								let essaiTop_I = getNbEssaisTop ( users[ i ].name );
								let essaiTop_J = getNbEssaisTop ( users[ i + 1 ].name );

								let zone_I = getNbZone ( users[ i ].name );
								let zone_J = getNbZone ( users[ i + 1 ].name );

								let essaiZone_I = getNbZone ( users[ i ].name );
								let essaiZone_J = getNbZone ( users[ i + 1 ].name );

								if ( ( top_I < top_J 
									) || ( 
										( top_I == top_J ) &&
										( essaiTop_I > essaiTop_J ) 
									) || (
										( top_I == top_J ) &&
										( essaiTop_I == essaiTop_J ) &&
										( zone_I < zone_J )
									) || (
										( top_I == top_J ) &&
										( essaiTop_I == essaiTop_J ) &&
										( zone_I == zone_J ) &&
										( essaiZone_I < essaiZone_J )
									) )
								{
									change = true;

									let tmp = users[ i ];
									users[ i ] = users[ i + 1 ];
									users[ i + 1 ] = tmp;
								}
							}
						}
						while ( change );
						break;
					}
					case "d":
					case "diff":
					case "difficulte":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								for ( let j = i+1; j < users.length; j++ )
								{
									if ( !getScore( users[ j ].name, id ) )
									{
										break;
									}

									if ( !getScore( users[ i ].name, id ) || 
										( getScore( users[ i ].name, id ) > getScore( users[ j ].name, id ) ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									
										change = true;
									}
								}
							}
						}
						while ( change );
					}
					case "v":
					case "vitesse":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								for ( let j = i+1; j < users.length; j++ )
								{
									if ( !getScore( users[ j ].name, id ) )
									{
										break;
									}

									if ( !getScore( users[ i ].name, id ) || 
										( getScore( users[ i ].name, id ) > getScore( users[ j ].name, id ) ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									
										change = true;
									}
								}
							}
						}
						while ( change );
						break;
					}
				}

				setRank ( id );
			}

			function setRank ( id = "total" )
			{
				// set ranks
				let lastEntry = 0;
				let lastRank = 0;

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						continue;
					}

					if ( ( g_club.value != "all" ) &&
						( users[ i ].club != g_club.value ) )
					{
						continue;
					}

					if ( lastEntry != getScore( users[ i ].name, id ) )
					{
						lastEntry = getScore( users[ i ].name, id );
						lastRank++;
					}

					setScore( users[ i ].name, "rank", lastRank, 0 );
				}
			}

			function drawTable ( id = "total" )
			{
				let str = "<div  id=\"results\"><table><tr><td onclick=\"updateUser();\"></td><td>h/f</td><td>cat.</td>";

				// header
				let v = Object.keys( voie );
				for ( let j = 0; j < v.length; j++ )
				{
					if ( !printThisValue( voie[ v[j] ].type ) )
					{
						continue;
					}

					if ( g_mode != 'b' && g_mode != 'bloc' )
					{
						str += '<td onclick="orderTable(\''+v[ j ]+'\');drawTable(\''+v[ j ]+'\');">'+v[ j ]+'</td>';
					}
					else
					{
						str += '<td>'+v[ j ]+'</td>';
					}
				}
				str += '<td onclick="orderTable(\'total\');drawTable();">Total</td>';
				str += '<td onclick="orderTable(\'total\');drawTable();">rank</td>';

				for ( let i = 0; i < users.length; i++ )
				{
					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						continue;
					}

					if ( ( g_club.value != "all" ) &&
						( users[ i ].club != g_club.value ) )
					{
						continue;
					}

					// nom
					if ( users[ i ].name == thisUser )
					{
						str += '<tr class="hightlight">';
					}
					else
					{
						str += '<tr>';
					}

					str += '<td onclick="updateUser(this.innerHTML);">'+users[ i ].name+'</td>';
					str += '<td>'+((users[ i ].genre=="homme")?"M":"F")+'</td>';
					str += '<td>'+users[ i ].categorie+'</td>';

					if ( !score[ users[ i ].name ] )
					{
						str += '</tr>';
						continue;
					}

					// score
					for ( let j = 0; j < v.length; j++ )
					{
						if ( !printThisValue( voie[ v[j] ].type ) )
						{
							continue;
						}
						str += getTrack ( users[ i ].name, v[ j ], id );
					}
					str += getTrack ( users[ i ].name, "total", id );
					str += getTrack ( users[ i ].name, "rank", id );
					

					str += '</tr>';
				}

				document.getElementById ( "dataContent" ).innerHTML = str+'</table></div>';
				drawCurves ( id );

				function getTrack ( name, id, h )
				{
					let s = "";
					if ( h == id )
					{
						s += '<td class="hightlight">';
					}
					else
					{
						s += '<td>';
					}
					
					let v = getScore( name, id );
					if ( g_mode != "b" && g_mode != "bloc" &&
						voie[ id ] &&
						voie[ id ].score )
					{
						// for diff and bloc this will get the good value
						// for speed and wait this will displau value
						s += voie[ id ].score[ v ] || v || "";
					}
					else
					{
						s += v || "";
					}

					s +='</td>';
					return ( s );
				}

				function printThisValue ( type )
				{
					if ( ( g_mode == "b" || g_mode == "bloc" ) && type != "bloc" )
					{
						return false;
					}
					if ( ( g_mode == "d" || g_mode == "diff" || g_mode == "difficulte" ) && type != "diff" )
					{
						return false;
					}
					return true;
				}
			}

			function updateUser ( user )
			{
				thisUser = user;
				drawTable ( );
			}

			function updateSelector ( )
			{

				let l = getStatus ( users );

				uOneSlector ( "genre", g_genre, l.genre );
				uOneSlector ( "age", g_categorie, l.categorie );
				uOneSlector ( "club", g_club, l.club );

				function uOneSlector ( str, selector, list )
				{
					if ( !list )
					{
						return "error";
					}

					while ( selector.options.length )
					{ // remove all options from selector
						selector.options.remove ( 0 );
					}

					// set first option to everything
					selector.options.add ( new Option ( str, 0 ) );
					selector.options[ 0 ].value = "all";

					for ( let i = 0; i < list.length; i++ )
					{
						selector.options.add ( new Option ( list[ i ], i + 1 ) );
						selector.options[ i + 1 ].value = list[ i ];
					}
				}
			}

			updateSelector ( );
			calcTotal ( );
			orderTable ( );
			setRank ( );
			drawTable ( );
		</script>
	</body>
</html>
