<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include nav %>
		<section>
			<div>
				<form>
					<select id="genre" onchange="setRank();drawTable();"></select>
					<select id="categorie" onchange="setRank();drawTable();"></select>
					<select id="club" onchange="setRank();drawTable();"></select>
				</form>
				<div id="dataContent">
				</div>
				<div>
					<canvas 
						width="700"
						height="400"
						class="chartjs-render-monitor"
						id="pointGraph">
					</canvas>
					<canvas 
						width="700"
						height="700"
						class="chartjs-render-monitor"
						id="userGraph">
					</canvas>
					<ul id="legendGraph" class="smothText">
						<li>moyenne tenté : moyenne des points obtenu pas les personnes 
							ayant tenté cette voie</li>
						<li>moyenne totale : moyenne des points obtenu sur cette voie 
							par toues les personnes ayant participé</li>
					</ul>
				</div>
			</div>
		</section>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/chartjs.js"></script>
		<script type="text/javascript"> // globals vars
			let socket = io ( );

			let users = <%- JSON.stringify(users) %>;
			let thisUser = undefined;
			let voie = <%- JSON.stringify(voie) %>;
			let score = <%- JSON.stringify(score) %>;

			let g_categorie = document.getElementById ( "categorie" );
			let g_genre = document.getElementById ( "genre" );
			let g_club = document.getElementById ( "club" );

			const g_mode = "<%- mode %>";

			// voie.length : total
			// voie.length + 1 : rank
			const totalId = voie.length;
			const rankId = voie.length + 1;

			const topId = voie.length + 2;
			const testTopId = voie.length + 3;
			const zoneId = voie.length + 4;
			const testZoneId = voie.length + 5;

			var pointConfig = {
				// type: 'bar',
				type: 'line',
				data: {
					labels: [],
					datasets: [
						{
							label: 'points',
							backgroundColor: "rgba(255,0,0,0.1)",
							borderColor: "#f00",
							data: [],
							// fill: true,
							fill: false,
							lineTension: 0
						},
					]
				},
				options: {
					animation: false,
					responsive: true,
					legend: {
						// display: true,
						display: false,
					},
					title: {
						display: false,
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'users rank'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'points',
							},
							ticks: {
								suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
							}
						}]
					}
				}
			};

			var userConfig = {
				type: 'radar',
				data: {
					labels: [ ],
					datasets: [
						{
							backgroundColor: "rgba(255,0,0,0.2)",
							borderColor: "#f00",
							borderWidth: 2,
							data: [ ],
							label: ''
						},
						{
							backgroundColor: "rgba(0,255,255,0.2)",
							borderColor: "rgba(0,255,255,0.2)",
							data: [],
							label: 'moyenne tenté'
						},
						{
							backgroundColor: "rgba(0,0,255,0.4)",
							borderColor: "rgba(0,0,255,0.4)",
							data: [],
							label: 'moyenne total'
						},
						{
							backgroundColor: "rgba(0,0,0,0)",
							borderColor: "rgba(0,0,0,1)",
							borderWidth: 6,
							data: [],
							label: 'max'
						}
					]
				},
				options: {

					maintainAspectRatio: true,
					spanGaps: false,
					elements: {
						line: {
							tension: 0
						}
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
        			scale: {
						ticks: {
							display:false,
						}
					},
					plugins: {
						filler: {
							propagate: false
						},
						'samples-filler-analyser': {
							target: 'chart-analyser'
						}
					},
				}
			};

			var average = {
				"all" : [],
				"tryed" : [],
				"player" : 0
			}

			let chartjs = {};
		</script>
		<script type="text/javascript"> // graph
			function drawCurves ( id = totalId )
			{
				<% if ( mode == 'a' ) { %>
					let userEl = document.getElementById ( "userGraph" );

					pointConfig.data.datasets[ 0 ].data = [];
					pointConfig.data.labels = [];

					// draw evolution of points for selected way
					for ( let i = 0; i < users.length; i++ )
					{
						if ( !score[ users[ i ].name ] )
						{
							continue;
						}

						if ( ( g_categorie.value != "all" ) &&
							( users[ i ].categorie != g_categorie.value ) )
						{
							continue;
						}

						if ( ( g_genre.value != "all" ) &&
							( users[ i ].genre != g_genre.value ) )
						{
							continue;
						}

						if ( ( g_club.value != "all" ) &&
							( users[ i ].club != g_club.value ) )
						{
							continue;
						}

						pointConfig.data.datasets[ 0 ].data.push ( getScore( users[ i ].name, id ) );
						pointConfig.data.labels.push ( getScore( users[ i ].name ) );
					}

					if  ( chartjs[ 'point' ] )
					{
						chartjs[ 'point' ].update ( );
					}
					else
					{
						chartjs[ 'point' ] = new Chart ( document.getElementById ( "pointGraph" ).getContext ( "2d" ), pointConfig );
					}

					// draw user slelected graph
					if  ( thisUser &&
						score[ thisUser ] )
					{
						userConfig.data.datasets[ 0 ].label = thisUser;
						for ( let i = 0; i < voie.length; i++ )
						{
							userConfig.data.labels[ i ] = voie[ i ].name;
							if ( voie[ i ].type == 'vitesse' )
							{
								userConfig.data.datasets[ 0 ].data[ i ] =  ( getScore( thisUser, i ) )? voie[ i ].score.time - getScore( thisUser, i ) : 0;
							}
							else
							{
								userConfig.data.datasets[ 0 ].data[ i ] = getScore( thisUser, i ) | 0;
							}
							userConfig.data.datasets[ 1 ].data[ i ] = average.all[ i ] / average.tryed[ i ];
							userConfig.data.datasets[ 2 ].data[ i ] = average.all[ i ] / average.player;

							switch ( voie[ i ].type )
							{
								case 'bloc':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = voie[ i ].score.fin || 0;
									break;
								}
								case 'diff':
								{
									if ( voie[ i ].score.tete )
									{
										userConfig.data.datasets[ 3 ].data[ i ] = voie[ i ].score.tete[ voie[ i ].score.tete.length - 1 ] || 0;
									}
									else
									{
										userConfig.data.datasets[ 3 ].data[ i ] = voie[ i ].score.moul[ voie[ i ].score.moul.length - 1 ] || 0;
									}
									break;
								}
								case 'vitesse':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = voie[ i ].score.time || 0;
									break;
								}
								case 'slack':
								{
									userConfig.data.datasets[ 3 ].data[ i ] = voie[ i ].score.distance || 0;
									break;
								}
								default:
								{
									break;
								}
							}
						}
						userEl.style.display = "";
						document.getElementById ( "legendGraph" ).style.display = "";

						if  ( chartjs[ 'user' ] )
						{
							chartjs[ 'user' ].update ( );
						}
						else
						{
							chartjs[ 'user' ] = new Chart (  userEl.getContext ( "2d" ), userConfig );
						}
					}
					else
					{
						userEl.style.display = "none";
						document.getElementById ( "legendGraph" ).style.display = "none";
					}
				<% } else { %>
					document.getElementById ( "userGraph" ).style.display = "none";
					document.getElementById ( "userGraph" ).style.display = "none";
					document.getElementById ( "legendGraph" ).style.display = "none";
				<% } %>
			}
		</script>
		<script type="text/javascript"> // sockets
			socket.on ( 'scores', function ( data )
			{
				setScore ( data.usr, data.voie, data.points );

				calcTotal ( );
				orderTable ( );
				setRank ( );
				drawTable ( );
			});

			socket.on ( 'users', function ( usr )
			{
				let i;
				for ( i = 0; i < users.length; i++ )
				{
					if ( users[ i ].name == usr.name )
					{
						break;
					}
				}

				if ( i == users.length )
				{
					users.push ( usr );
				}

				orderTable ( );
			});
		</script>
		<script type="text/javascript" src="/js/utils.js"></script>
		<script type="text/javascript">
			function calcTotal ( id = totalId, mode = g_mode )
			{ // get data to calculate average and globals metrics
				// init average struct
				for ( let i = 0; i < voie.length; i++ )
				{
					average.all[ i ] = 0;
					average.tryed[ i ] = 0;
					average.player = 0;
				}

				switch ( mode )
				{
					case "a":
					case "autre":
					{
						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}
							let somme = 0;

							for ( let j = 0; j < voie.length; j++ )
							{
								if ( ( voie[ j ].type == 'vitesse' ) &&
									getScore( users[ i ].name, j ) )
								{
									let tmp = ( voie[ j ].score.time - getScore( users[ i ].name, j ) );
									somme += ( tmp < 0 )? 0: tmp;

									average.all[ j ] += tmp; // totalise points for all users
									if ( getScore( users[ i ].name, j ) )
									{
										average.tryed[ j ]++;
									}
								}
								else if ( ( voie[ j ].type == 'endurance' ) &&
									getScore( users[ i ].name, j ) )
								{
									if ( voie[ j ].score.time )
									{
										somme += Math.min ( voie[ j ].score.time, getScore( users[ i ].name, j ) );
									}
									else
									{
										somme += getScore( users[ i ].name, j );
									}
								}
								else
								{
									somme += getScore( users[ i ].name, j ) | 0;
									average.all[ j ] += getScore( users[ i ].name, j ) | 0;

									if ( getScore( users[ i ].name, j ) )
									{
										average.tryed[ j ]++;
									}
								}
							}

							if ( score[ users[ i ].name ] )
							{
								average.player++;
							}

							setScore( users[ i ].name, totalId, somme );
						}
						break;
					}
					case "b":
					case "bloc":
					{
						let l = voie.length.toString( ).length;
						divider = 1;

						while ( l-- )
						{
							divider *= 10;
						}

						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							let top = getNbTop ( users[ i ].name );
							let nbTestTop = getNbEssaisTop ( users[ i ].name );
							let zone = getNbZone ( users[ i ].name );
							let nbTestZone = getNbEssaisZone ( users[ i ].name );

							setScore( users[ i ].name, topId, top );
							setScore( users[ i ].name, testTopId, nbTestTop );

							setScore( users[ i ].name, zoneId, zone );
							setScore( users[ i ].name, testZoneId, nbTestZone );

							for ( let j = 0; j < voie.length; j++ )
							{
								average.tryed[ j ] += getNbTests ( users[ i ].name, j );
								average.all[ j ] += top;
							}

							if ( score[ users[ i ].name ] )
							{
								average.player++;
							}

							let str = top+'.'+nbTestTop+'.'+zone+'.'+nbTestZone;

							setScore( users[ i ].name, totalId, str, 0 );
						}
						break;
					}
					case "d":
					case "diff":
					case "difficulte":
					{
						let qRank = {};

						for ( track = 0; track < voie.length; track++ )
						{
							orderTable ( track );
							setRank ( track );

							for ( i = 0; i < users.length; i++ )
							{
								let tmp = 0;
								if ( !score[ users[ i ].name ] )
								{
									continue;
								}
								else if ( !score[ users[ i ].name ][ track ] )
								{
									tmp = users.length;
								}
								else
								{
									tmp = score[ users[ i ].name ][ rankId ][ 0 ];
								}

								if ( !qRank[ users[ i ].name ] )
								{
									qRank[ users[ i ].name ] = tmp * tmp;
								}
								else
								{
									qRank[ users[ i ].name ] += tmp * tmp;
								}
							}
						}

						for ( i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							setScore( users[ i ].name, totalId, Math.sqrt ( qRank[ users[ i ].name ] ), 0 );
						}
						break;
					}
					case "v":
					case "vitesse":
					{
						for ( let i = 0; i < users.length; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								continue;
							}

							let somme = 0;

							for ( let j = 0; j < voie.length; j++ )
							{
								let time = getScore( users[ i ].name, j );
								if ( !time )
								{
									setScore( users[ i ].name, totalId, undefined, 0 );
									break;
								}
								somme += parseFloat ( time );

								setScore( users[ i ].name, totalId, somme, 0 );
							}
						}
						break;
					}
				}
			}

			function dropDownUser ( id = totalId )
			{ // put user without score at the end
				let somethingChange = false;
				do
				{
					somethingChange = false;
					for ( let i = 0; i < users.length - 1; i++ )
					{
						if ( !score[ users[ i ].name ] &&
							score[ users[ i + 1 ].name ] )
						{
							let tmp = users[ i ];
							users[ i ] = users[ i + 1 ];
							users[ i + 1 ] = tmp;
							somethingChange = true;
						}
					}
				}
				while ( somethingChange );


				do
				{
					somethingChange = false;
					for ( let i = 0; i < users.length - 1; i++ )
					{
						if ( !getScore( users[ i ].name, id ) && 
							getScore( users[ i + 1 ].name, id ) )
						{
							let tmp = users[ i ];
							users[ i ] = users[ i + 1 ];
							users[ i + 1 ] = tmp;
							somethingChange = true;
						}
					}
				}
				while ( somethingChange );
			}

			function orderTable ( id = totalId, mode = g_mode )
			{
				dropDownUser ( id );

				switch ( mode )
				{
					case "a":
					case "autre":
					{
						for ( let i = 0; i < users.length - 1; i++ )
						{
							if ( !score[ users[ i ].name ] )
							{
								break;
							}

							for ( let j = i+1; j < users.length; j++ )
							{
								if ( !getScore( users[ j ].name, id ) )
								{
									break;
								}

								if ( ( id < voie.length ) &&
									( voie[ id ].type == 'vitesse' ) )
								{ // order speed test (less is better)
									if ( parseFloat( getScore( users[ i ].name, id ) ) > parseFloat( getScore( users[ j ].name, id ) ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									}
								}
								else if ( !getScore( users[ i ].name, id ) || 
									getScore( users[ j ].name, id ) &&
									( getScore( users[ i ].name, id ) < getScore( users[ j ].name, id ) ) )
								{
									let tmp = users[ i ];
									users[ i ] = users[ j ];
									users[ j ] = tmp;
								}
							}
						}
						break;
					}
					case "b":
					case "bloc":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								if ( ( getNbTop ( users[ i ].name ) < getNbTop ( users[ i + 1 ].name ) ) ||
									( 
										( getNbTop ( users[ i ].name ) == getNbTop ( users[ i + 1 ].name ) ) &&
										( getNbEssaisTop ( users[ i ].name ) > getNbEssaisTop ( users[ i + 1 ].name ) ) 
									) ||
									(
										( getNbTop ( users[ i ].name ) == getNbTop ( users[ i + 1 ].name ) ) &&
										( getNbEssaisTop ( users[ i ].name ) == getNbEssaisTop ( users[ i + 1 ].name ) ) &&
										( getNbZone ( users[ i ].name ) < getNbZone ( users[ i + 1 ].name ) )
									) ||
									(
										( getNbTop ( users[ i ].name ) == getNbTop ( users[ i + 1 ].name ) ) &&
										( getNbEssaisTop ( users[ i ].name ) == getNbEssaisTop ( users[ i + 1 ].name ) ) &&
										( getNbZone ( users[ i ].name ) == getNbZone ( users[ i + 1 ].name ) ) &&
										( getNbEssaisZone ( users[ i ].name ) < getNbEssaisZone ( users[ i + 1 ].name ) )
									) )
								{
									change = true;

									let tmp = users[ i ];
									users[ i ] = users[ i + 1 ];
									users[ i + 1 ] = tmp;
								}
							}
						}
						while ( change );

						if ( id < voie.length )
						{
							dropDownUser ( id );
						}
						break;
					}
					case "d":
					case "diff":
					case "difficulte":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								for ( let j = i+1; j < users.length; j++ )
								{
									if ( !getScore( users[ j ].name, id ) )
									{
										break;
									}

									if ( !getScore( users[ i ].name, id ) || 
										( getScore( users[ i ].name, id ) > getScore( users[ j ].name, id ) ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									
										change = true;
									}
								}
							}
						}
						while ( change );
					}
					case "v":
					case "vitesse":
					{
						let change = false;
						do
						{
							change = false;
							for ( let i = 0; i < users.length - 1; i++ )
							{
								if ( !score[ users[ i ].name ] )
								{
									break;
								}

								for ( let j = i+1; j < users.length; j++ )
								{
									if ( !getScore( users[ j ].name, id ) )
									{
										break;
									}

									if ( !getScore( users[ i ].name, id ) || 
										( getScore( users[ i ].name, id ) > getScore( users[ j ].name, id ) ) )
									{
										let tmp = users[ i ];
										users[ i ] = users[ j ];
										users[ j ] = tmp;
									
										change = true;
									}
								}
							}
						}
						while ( change );
						break;
					}
				}
				setRank ( id );
			}

			function setRank ( id = totalId )
			{
				// set ranks
				let lastEntry = 0;
				let lastRank = 0;

				for ( let i = 0; i < users.length - 1; i++ )
				{
					if ( !score[ users[ i ].name ] )
					{
						break;
					}

					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						continue;
					}

					if ( ( g_club.value != "all" ) &&
						( users[ i ].club != g_club.value ) )
					{
						continue;
					}

					if ( lastEntry != getScore( users[ i ].name, id ) )
					{
						lastEntry = getScore( users[ i ].name, id );
						lastRank++;
					}

					setScore( users[ i ].name, rankId, lastRank, 0 );
				}
			}

			function drawTable ( id = totalId )
			{
				let str = "<div  id=\"results\"><table><tr><td onclick=\"updateUser();\"></td><td>h/f</td><td>cat.</td>";

				// header
				for ( let j = 0; j < voie.length; j++ )
				{
					str += '<td onclick="orderTable('+j+');drawTable('+j+');">'+voie[ j ].name+'</td>';
				}
				str += '<td onclick="orderTable('+totalId+');drawTable();">Total</td>';
				str += '<td onclick="orderTable('+totalId+');drawTable();">rank</td>';

				for ( let i = 0; i < users.length; i++ )
				{
					if ( ( g_categorie.value != "all" ) &&
						( users[ i ].categorie != g_categorie.value ) )
					{
						continue;
					}

					if ( ( g_genre.value != "all" ) &&
						( users[ i ].genre != g_genre.value ) )
					{
						continue;
					}

					if ( ( g_club.value != "all" ) &&
						( users[ i ].club != g_club.value ) )
					{
						continue;
					}

					// nom
					if ( users[ i ].name == thisUser )
					{
						str += '<tr class="hightlight">';
					}
					else
					{
						str += '<tr>';
					}

					str += '<td onclick="updateUser(this.innerHTML);">'+users[ i ].name+'</td>';
					str += '<td>'+((users[ i ].genre=="homme")?"M":"F")+'</td>';
					str += '<td>'+users[ i ].categorie+'</td>';

					if ( !score[ users[ i ].name ] )
					{
						str += '</tr>';
						continue;
					}

					// score
					for ( let j = 0; j < voie.length + 2; j++ )
					{
						if ( j == id )
						{
							str += '<td class="hightlight">';
						}
						else
						{
							str += '<td>';
						}

						if ( getScore( users[ i ].name, j ) )
						{
							str += getScore( users[ i ].name, j );
						}

						str+='</td>';
					}
					str += '</tr>';
				}
				document.getElementById ( "dataContent" ).innerHTML = str+'</table></div>';
				drawCurves ( id );
			}

			function updateUser ( user )
			{
				thisUser = user;
				drawTable ( );
			}

			function updateSelector ( )
			{
				let genre = [];
				let categorie = [];
				let club = [];

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !categorie.includes( users[ i ].categorie ) )
					{
						categorie.push ( users[ i ].categorie );
					}

					if ( !genre.includes( users[ i ].genre ) )
					{
						genre.push ( users[ i ].genre );
					}

					if ( !club.includes( users[ i ].club ) )
					{
						club.push ( users[ i ].club );
					}
				}

				
				while ( g_genre.options.length )
				{
					g_genre.options.remove ( 0 );
				}
				g_genre.options.add ( new Option ( "genre", 0 ) );
				g_genre.options[ 0 ].value = "all";
				for ( let i = 0; i < genre.length; i++ )
				{
					g_genre.options.add ( new Option ( genre[ i ], i + 1 ) );
					g_genre.options[ i + 1 ].value = genre[ i ];
				}


				while ( g_categorie.options.length )
				{
					g_categorie.options.remove ( 0 );
				}
				g_categorie.options.add ( new Option ( "age", 0 ) );
				g_categorie.options[ 0 ].value = "all";
				for ( let i = 0; i < categorie.length; i++ )
				{
					g_categorie.options.add ( new Option ( categorie[ i ], i + 1 ) );
					g_categorie.options[ i + 1 ].value = categorie[ i ];
				}


				while ( g_club.options.length )
				{
					g_club.options.remove ( 0 );
				}
				g_club.options.add ( new Option ( "Club", 0 ) );
				g_club.options[ 0 ].value = "all";
				for ( let i = 0; i < club.length; i++ )
				{
					g_club.options.add ( new Option ( club[ i ], i + 1 ) );
					g_club.options[ i + 1 ].value = club[ i ];
				}
			}

			updateSelector ( );
			calcTotal ( );
			orderTable ( );
			setRank ( );
			drawTable ( );
		</script>
	</body>
</html>
