<!DOCTYPE html>
<html>
	<%- include("partials/head.html") -%>
	<body>
		<%- include("partials/nav.html") -%>
		<section>
			<form>
				<span>
					<label>Nom Prenom :</label>
					<input id="name" list="nameList" type="text" placeholder="Nom Prenom">
					<datalist id="nameList"></datalist>
				</div>
				<div>
					<label for="categorie">Categorie</label>
					<select id="categorie">
						<option disabled selected>--</option>
						<option value="U8">U8</option>
						<option value="U10">U10</option>
						<option value="U12">U12</option>
						<option value="U14">U14</option>
						<option value="U16">U16</option>
						<option value="U18">U18</option>
						<option value="senior">senior</option>
						<option value="veterant">vétéran</option>
					</select>
				</div>
				<div>
					<label for="genre">Genre</label>
					<select id="genre">
						<option disabled selected>--</option>
						<option value="M">homme</option>
						<option value="F">femme</option>
					</select>
				</div>
				<div>
					<label for="club">Club</label>
					<input id="club" list="clubList" placeholder="club" type="text">
					<datalist id="clubList">
						<option value="test"></option>
					</datalist>
				</div>
				<button id="validate">Sauver</button>
			</form>
			<p id="serverMsg"></p>
		</section>
		<script type="text/javascript" nonce="<%- locals.nonce %>" src="/js/utils.js"></script>
		<script type="text/javascript" nonce="<%- locals.nonce %>">
		let domEls = {
			name: document.getElementById ( "name" ),
			nameList: document.getElementById ( "nameList" ),
			categorie: document.getElementById ( "categorie" ),
			genre: document.getElementById ( "genre" ),
			club: document.getElementById ( "club" ),
			clubList: document.getElementById ( "clubList" ),
			validate: document.getElementById ( "validate" ),
			serverMsg: document.getElementById ( "serverMsg" ),
		};

		let socket = io ( );
		let users = [];

		socket.on ( "connect", ()=>{
			socket.emit ( "getUsersList" );
			socket.emit ( "getClubsList" );
		})

		socket.on ( "setClubsList", (msg)=>{
			while ( clubList.options.length )
			{
				clubList.removeChild ( clubList.firstChild );
			}

			for ( let opt of msg )
			{
				let option = document.createElement ( 'option' );
				option.value = opt;
				clubList.appendChild ( option );
			}
		});

		socket.on ( "setUsersList", (msg)=>{
			users = msg;
			while ( nameList.options.length )
			{
				nameList.removeChild ( nameList.firstChild );
			}

			for ( let opt of msg )
			{
				let option = document.createElement ( 'option' );
				option.value = opt;
				nameList.appendChild ( option );
			}
		});

		socket.on ( "error", (msg)=>{
			console.log ( msg )
			domEls.serverMsg.display = "";
			domEls.serverMsg.innerText = msg;

			document.body.style.backgroundColor = "red";

			setTimeout ( ()=>{
				document.body.style.backgroundColor = "";
			}, 1000 );
		});

		socket.on ( "ok", ()=>{
			console.log ( "ok" )
			domEls.name.value = "";
			domEls.club.value = "";
			domEls.categorie.value = "";
			domEls.genre.value = "";

			document.body.style.backgroundColor = "green";

			setTimeout ( ()=>{
				document.body.style.backgroundColor = "";
			}, 1000 );
		});

		domEls.validate.addEventListener ( "click", (ev)=>{
			ev.preventDefault ( );
			if ( undefined == msg.name )
			{
				domEls.serverMsg.innerText = "il manque le nom";
				return;
			}
			if ( undefined == msg.categorie )
			{
				domEls.serverMsg.innerText = "il manque la categorie";
				return;
			}
			if ( undefined == msg.genre )
			{
				domEls.serverMsg.innerText = "il manque le genre";
				return;
			}
			if ( undefined == msg.club )
			{
				domEls.serverMsg.innerText = "il manque le club";
				return;
			}

			socket.emit ( "setUser",{
				name: domEls.name.value.trim ( ),
				categorie: domEls.categorie.value,
				genre: domEls.genre.value,
				club: domEls.club.value,
			});
		});
		</script>
	</body>
</html>
