<!DOCTYPE html>
<html>
	<%- include("partials/head.html") -%>
	<body>
		<%- include("partials/nav.html") -%>
		<style>
			div.row > button {
				margin-right:10px;
			}
			button.fa-solid {
				min-width: 2em;
				min-height: 1.5em;
				text-align: center;
			}

			form > div{
				margin-bottom: 2em;
			}
		</style>
		<section>
			<form>
				<button id="start">Start</button>
				<div>
					<label for="time">Durée de la competition en minutes</label>
					<input id="time" type="number" value="60" placeholder="temps en minutes"/>
				</div>

				<div>
					<label>Quelles categories</label>
					<ul id="categories"></ul>
				</div>
				<button id="stop">Stop</button>
				<p id="serverMsg"></p>
			</form>
			<form>
				<div>
					<label for="usersFiles">CSV contenant les competiteurs</label>
					<input id="usersFiles" type="file"/>
					<div class="row">
						<button id="usersClean" class="fa-solid fa-trash"></button>
						<button id="usersExport" class="fa-solid fa-download"></button>
					</div>
				</div>
				<div>
					<label for="voiesFiles">CSV contenant les voies</label>
					<input id="voiesFiles" type="file"/>
					<div class="row">
						<button id="voiesClean" class="fa-solid fa-trash"></button>
						<button id="voiesExport" class="fa-solid fa-download"></button>
					</div>
				</div>
				<div>
					<label>Fichier scores</label>
					<div class="row">
						<button id="scoreClean" class="fa-solid fa-trash"></button>
						<button id="scoreExport" class="fa-solid fa-download"></button>
					</div>
				</div>
				<div>
					<label for="halt">Eteindre le systeme</label>
					<div class="row">
						<button id="halt" class="fa-solid fa-power-off" style="color:red"></button>
					</div>
				</div>
				<p id="serverMsg"></p>
			</form>
		</section>
		<script nonce="<%- locals.nonce %>">
			let domEls = {
				serverMsg: document.getElementById ( "serverMsg" ),
				categories: document.getElementById ( "categories" ),
				start: document.getElementById ( "start" ),
				stop: document.getElementById ( "stop" ),
				halt: document.getElementById ( "halt" ),
				users: {
					set: document.getElementById ( "usersFiles" ),
					delete: document.getElementById ( "usersClean" ),
					export: document.getElementById ( "usersExport" ),
				},
				voies: {
					set: document.getElementById ( "voiesFiles" ),
					delete: document.getElementById ( "voiesClean" ),
					export: document.getElementById ( "voiesExport" ),
				},
				score: {
					delete: document.getElementById ( "scoreClean" ),
					export: document.getElementById ( "scoreExport" ),
				},
			};

			if ( !socket )
			{
				var socket = io ( );
			}

			let categories = {};
			
			socket.on ( "connect", ()=>{
				socket.emit ( "getListOfAllTypes" );
				socket.emit ( "getVoies", {} );
				socket.emit ( "getListOfAllCategories" );
			});

			socket.on ( "error", (msg)=>{
				domEls.serverMsg.display = "";
				domEls.serverMsg.innerText = msg;

				document.body.style.backgroundColor = "red";

				setTimeout ( ()=>{
					document.body.style.backgroundColor = "";
				}, 1000 );
			});

			socket.on ( "ok", ()=>{
				document.body.style.backgroundColor = "green";

				setTimeout ( ()=>{
					document.body.style.backgroundColor = "";
				}, 1000 );
			});

			socket.on ( "setListOfAllCategories", (msg)=>{
				while ( domEls.categories.firstChild )
				{
					domEls.categories.removeChild ( domEls.categories.lastChild );
				}

				categories = {};

				for ( let cat of msg )
				{
					let div = document.createElement( "li" );
					domEls.categories.appendChild ( div );

					let input = document.createElement ( "input" );
					div.appendChild ( input );
					input.type = "checkbox",
					input.id = "cat_"+cat;
					input.checked = true;
					categories[ cat ] = true;

					let label = document.createElement ( "label" );
					div.appendChild ( label );
					label.htmlFor = "cat_"+cat;;
					label.innerText = " "+cat;

					input.addEventListener ( "change", (ev)=>{
						categories[ cat ] = ev.target.checked;
					});
				}
			});

			socket.on ( "export", (msg)=>{
				function getKeys ( objArray, keys = [] )
				{
					let sI = keys;
					objArray.map ( (d,i)=>{
							sI.push ( Object.keys ( d ) );
							return d;
						})
						.map ( (d,i)=>{
							if ( 0 == i )
							{
								sI = sI.flat ( Infinity ).distinct ( );
							}

							let out = [];

							for ( let k of sI )
							{
								out.push ( d[ k ] );
							}

							return out.map ( o=>( o==undefined )?"":o )
								.join ( ";" );
						})

					return sI.flat ( Infinity ).distinct ( );
				}

				let data = undefined;
				let sI = undefined;
				switch ( msg.file )
				{
					case "voies":
					case "users":
					{
						sI = getKeys ( msg.data );
						data = msg.data.map ( (d,i)=>{
								let out = [];

								for ( let k of sI )
								{
									switch ( d[ k ]?.constructor.name )
									{
										case "Object":
										{
											out.push ( JSON.stringify ( d[ k ] ) );
											break;
										}
										case "Array":
										{
											out.push ( d[ k ].join ( "," ) );
											break;
										}
										case undefined:
										{
											out.push ( "" );
											break;
										}
										default:
										{
											out.push ( d[ k ] );
											break;
										}
									}
								}

								return out.join ( ";" );
							})
						
						data.unshift ( sI.join ( ";" ) );
						data = data.join ( "\n" );

						break;
					}
					case "score":
					{
						data = JSON.stringify ( msg.data, null, 4 );
						break;
					}
					default:
					{
						return;
					}
				}

				const downloadLink = document.createElement('a');
				downloadLink.href = URL.createObjectURL ( new Blob ( [ data ], { type: 'text/plain' } ) );
				downloadLink.download = msg.file + ".csv";

				document.body.appendChild ( downloadLink );
				downloadLink.click();
				document.body.removeChild ( downloadLink );
			})

			domEls.start.addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );
				let msg = {
					time: Number ( document.getElementById ( "time").value ),
					categories: categories,
				};
				socket.emit ( "start", msg );
			});

			domEls.stop.addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );
				socket.emit ( "stop" );
			});

			domEls.halt.addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );

				if ( confirm ( "Vous allez eteindre le systeme etes vous sur ?" ) )
				{
					fetch("/ajax/halt",{
							method:"POST"
						})
						.then ( console.log )
						.catch ( console.log )
				}
			});

			for ( let arg of [ "users", "voies", "score" ] )
			{
				for ( let cmd of [ "export", "delete", "set" ] )
				{
					if ( !domEls?.[ arg ]?.[ cmd ] )
					{
						continue;
					}

					let evName = ( domEls[ arg ][ cmd ].nodeName.toLowerCase ( ) == "button" )? "click" : "input";
					console.log ( cmd, arg, evName )

					domEls[ arg ][ cmd ].addEventListener ( evName, (ev)=>{
						ev.preventDefault ( );

						switch ( cmd )
						{
							case "delete":
							{
								if ( !confirm ( "Vous supprimer le fichier "+arg+" etes vous sur ?" ) )
								{
									break;
								}
							}
							case "export":
							{
								socket.emit ( "cmd", {cmd,arg} );
								break;
							}
							case "set":
							{
								let file = ev.target.files?.[ 0 ];

								if ( !file )
								{
									return;
								}

								let reader = new FileReader ( );
								reader.readAsText ( file, "UTF-8" );

								let sI = {};

								reader.onload = (ev)=>{
									let r = ev.target.result.split ( "\n" )
										.map ( (line,i)=>{
											if ( 0 == i )
											{
												let r = line.split ( ";" );

												for ( let k of r )
												{
													sI[ k ] = r.indexOf ( k );
												}

												return undefined;
											}
											else if ( line.trim ( ) == "" )
											{
												return undefined;
											}
											else
											{
												let r = line.split ( ";" );
												let out = {};

												for ( let k in sI )
												{
													if ( !r[ sI[ k ] ] )
													{
														continue;
													}

													try
													{
														out[ k ] = JSON.parse ( r[ sI[ k ] ].replace ( /'/g, '"' ) );
													}
													catch ( e )
													{
														if ( -1 != r[ sI[ k ] ].indexOf ( "," ) )
														{
															out[ k ] = r[ sI[ k ] ].split ( "," );
														}
														else
														{
															out[ k ] = r[ sI[ k ] ];
														}
													}
												}

												return out;
											}
										})
										.filter ( f=>f );

									socket.emit ( "cmd", {cmd,arg,data:r} );
								}

								reader.onerror = console.log
								break;
							}
						}
					});
				}
			};
		</script>
	</body>
</html>