<!DOCTYPE html>
<html>
	<%- include("partials/head.html") -%>
	<body>
		<%- include("partials/nav.html") -%>
		<section>
			<form>
				<span>
					<label for="genre">Genre</label>
					<select id="genre"></select>
				</span>
				<span>
					<label for="categorie">Categorie</label>
					<select id="categorie"></select>
				</span>
				<span>
					<label for="club">Club</label>
					<select id="club"></select>
				</span>
				<span>
					<label for="name">Utilisateur</label>
					<select id="name"></select>
				</span>
			</form>
			<table id="table">
				<thead id="thead"></thead>
				<tbody id="tbody"></tbody>
			</table>
			<div id="serverMsg"></div>
		</section>
		<script src="/js/socket.io.js"></script>
		<script type="text/javascript" src="/js/utils.js"></script>
		<script type="text/javascript" nonce="<%- locals.nonce %>">
			Array.prototype.distinct = function () { return Array.from ( new Set ( this ) ); };

			let domEls = {
				input:{
					genre: document.getElementById ( "genre" ),
					categorie: document.getElementById ( "categorie" ),
					club: document.getElementById ( "club" ),
					name: document.getElementById ( "name" ),
				},
				table: {
					full: document.getElementById ( "table" ),
					tbody: document.getElementById ( "tbody" ),
					thead: document.getElementById ( "thead" ),
				},
			};

			window.onload = function ( )
			{
			}

			let socket = io ( );
			let filters = {};
			let selectedUsers = {};
			let scores = {};

			socket.on ( "setUCCG", (msg)=>{
				selectedUsers = msg;

				uOneSlector ( {default:"genre", selector:domEls.input.genre, list:msg.map ( u2=>u2.genre ).distinct ( ) })
				uOneSlector ( {default:"categorie", selector:domEls.input.categorie, list:msg.map ( u2=>u2.categorie ).distinct ( )} )
				uOneSlector ( {default:"club", selector:domEls.input.club, list:msg.map ( u2=>u2.club ).distinct ( )} )
				
				uOneSlector ( {default:"name", selector:domEls.input.name, list:msg.map ( u2=>u2.name ).distinct ( )} )

				if ( 1 == selectedUsers.length )
				{
					printTableOne ({
						thead: domEls.table.thead,
						tbody: domEls.table.tbody,
						scores: scores,
						selectedUsers: selectedUsers,
						socket: socket,
					});
				}
				else
				{
					printTable ({
						thead: domEls.table.thead,
						tbody: domEls.table.tbody,
						scores: scores,
						selectedUsers: selectedUsers,
					});
				}
			} );

			socket.on ( "connect", ()=>{
				socket.emit ( "getUCCG", filters );
				socket.emit ( "getScores", filters );
			});

			socket.on ( "scores", (msg)=>{
				scores = msg;

				if ( 1 == selectedUsers.length )
				{
					printTableOne ({
						thead: domEls.table.thead,
						tbody: domEls.table.tbody,
						scores: scores,
						selectedUsers: selectedUsers,
						socket: socket,
					});
				}
				else
				{
					printTable ({
						thead: domEls.table.thead,
						tbody: domEls.table.tbody,
						scores: scores,
						selectedUsers: selectedUsers,
					});
				}
			});

			for ( let key in domEls.input )
			{
				domEls.input[ key ].addEventListener ( "change", (ev)=>{
					if ( "all" == ev.target.value )
					{
						delete filters[ key ];
					}
					else
					{
						filters[ key ] = ev.target.value;
					}
					socket.emit ( "getUCCG", {filters} );
				} )
			}
		</script>
	</body>
</html>