<!DOCTYPE html>
<html>
	<%- include("partials/head.html") -%>
	<body>
		<%- include("partials/nav.html") -%>
		<%- include("partials/backGround.html") -%>
		<style>
			a {
				color: white;
			}
			form {
				padding: 15px;
				background: rgba( 128, 128, 128, 0.9 );
				border-radius: 18px;
				max-width: calc( 100% - 30px );
			}

			#serverMsg {
				background: #fff;
				padding: 5px;
				border-radius: 5px;
				border: 1px solid black;
			}

			nav > svg {
				display: none;
			}

			nav > .login {
				display: none;
			}
		</style>
		<section>
			<form>
				<div>
					<input id="user" type="text" placeholder="user"/>
				</div>
				<div>
					<input id="password" type="password" placeholder="password"/>
				</div>
				<div>
					<button id="valid">Connexion <span id="count"></span></button>
				</div>
				<div>
					<p id="serverMsg"></p>
				</div>
			</form>
		</section>
		<script type="text/javascript"  nonce="<%- locals.nonce %>"> // password
			let domEls = {
				user: document.getElementById ( "user" ),
				password: document.getElementById ( "password" ),
				button: document.getElementById ( "valid" ),
				count: document.getElementById ( "count" ),
				msg: document.getElementById ( "serverMsg" ),
			}

			function log ( params, logError = true )
			{
				domEls.msg.style.display = "none";

				return fetch ( "/ajax/login", {
						method: "POST",
						body: JSON.stringify ( params ),
						headers: {"Content-Type": "application/json"},
					})
					.then ( async r=>{
						if ( r.ok )
						{
							return r.json ( );
						}
						else
						{
							throw {status:r.status,json:await r.json()};
						}
					})
					.then ( r=>{
						if ( r.token )
						{
							localStorage.setItem ( "token", r.token );
						}

						domEls.msg.style.display = "none";
						domEls.msg.innerText = "redirection";

						return r;
					})
					.then ( r=>{
						window.location.pathname = r.target;
					})
					.catch ( e=>{

						if ( logError )
						{
							domEls.msg.style.display = "";
							domEls.msg.innerText = JSON.stringify ( e, null, 4 );
						}
					} )
			}

			window.onload = ()=>{
				let token = localStorage.getItem ( "token" );

				if ( token )
				{
					return log ( {token:token}, false );
				}
			}

			domEls.button.onclick = (ev)=>{
				ev.preventDefault ( );
				return log ( {
						user: domEls.user.value,
						password: domEls.password.value,
					} )
			}
		</script>
	</body>
</html>