<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<nav>
			<a href="/">Scores</a>
		</nav>
		<section>
			<div>
				<input id="user" type="text" placeholder="user" onchange="login();"/>
				<input id="password" type="password" placeholder="password" onchange="login();"/>
				<a href="/">back</a>
				<p id="serverMsg"></p>
			</div>
		</section>
		<script type="text/javascript" src="/js/cryptico.min.js"></script>
		<script type="text/javascript"> // password
			let pubKey = "<%- pubKey %>";
			function login ( )
			{

				let user = document.getElementById( 'user' ).value;
				let password = document.getElementById( 'password' ).value;

				if ( ( user == "" ) ||
					( password == "" ) )
				{
					console.log( "exit" );
					return;
				}

				let xhr = new XMLHttpRequest();

				xhr.open('POST', '/login' );
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

				xhr.addEventListener ( 'readystatechange', function ( )
				{
					if ( xhr.readyState === XMLHttpRequest.DONE )
					{
						if ( xhr.status === 200 )
						{
							document.getElementById( 'serverMsg' ).innerHTML = "<span style=\"color:green;\">Ok</span>";
							window.location.href = "/";
						}
						else
						{
							document.getElementById( 'serverMsg' ).innerHTML = "<span style=\"color:#f55;\">" + xhr.responseText + "</span>";
						}
					}
				});

				let tmp = {
					"user":user,
					"password":password
				};

				let enc = cryptico.encrypt ( JSON.stringify ( tmp ), pubKey );
				console.log( enc.cipher );

				xhr.overrideMimeType ( "text/plain" );
				// need encodeURIComponent() for plus (+) signs
				xhr.send ( "data="+encodeURIComponent ( enc.cipher ) );
			}
		</script>
	</body>
</html>
