<nav>
	<link  id="lightCss" rel="stylesheet" href="/css/colorDark.css">
	<% // here to display the dark/loght slider selector
	if ( ( page == "acceuil" ) ||
		( page == "statistiques" ) )
	{ %>
		<% include slider %>
	<% } %>
	
	<% if ( loged ) { %>
		<a href="/">Scores</a>
		<a href="/login">Logout</a>
		<a href="/statistiques">Stat.</a>
		<a href="/addUser">New user</a>
		<select onchange="window.location.href = '/set/'+this.value;">
			<option disabled selected style="color:grey;">voie</option>
			<option value="bloc" <% if(page == 'bloc'){%>selected<%}%>>bloc</option>
			<option value="diff" <% if(page == 'diff'){%>selected<%}%>>diff</option>
			
			<%
			for ( var i = 0; i < voie.length; i++ )
			{
			%><option value="<%-voie[i].name%>" <% if(page == voie[i].name){%>selected<%}%>><%- voie[i].type + ' : ' + voie[i].name %></option><%
			}
			%>
		</select>
	<% }
	else
	{ %>
		<% if ( page != "acceuil" ) { %>
			<a href="/">Scores</a>
		<% } %>
		<a href="/login">Login</a>
		<% if ( page != "statistiques" ) { %>
			<a href="/statistiques">Stat.</a>
		<% } %>
	<% } %>
</nav>