<nav>
	<% // here to display the dark/loght slider selector %>
	<label for="menuColapser">&#9776;</label>
	<input type="checkbox" id="menuColapser"/>
	<div class="mainLinks">
		<a href="/"	<% if ( page == "accueil" ) { %> class="selected" <% } %>>Scores</a>
		<a href="/login" <% if ( page == "login" ) { %> class="selected" <% } %>><% if ( loged ) { %> logout <% } else { %> login <% } %></a>
		<a href="/statistiques" <% if ( page == "statistiques" ) { %> class="selected" <% } %>>Stat.</a>
		<a href="/getResults" <% if ( page == "getResults" ) { %> class="selected" <% } %>>Results</a>

		<% if ( loged ) { %>
			<a href="/addUser" <% if ( page == "addUser" ) { %> class="selected" <% } %>>New user</a>
			<a href="/edit" <% if ( page == "edit" ) { %> class="selected" <% } %>>Edit Score</a>
			<% let options = '<option disabled selected style="color:grey;" >voie</option>';
				let flagSelect = false;
				if ( ( mode == "b" ) ||
					( mode == "bloc" ) ||
					( mode == "a" ) ||
					( mode == "autre" ) )
				{
					options += '<option value="bloc"'; 
					if ( page == 'bloc' )
					{
						flagSelect = true;
						options +=' selected';
					}
					options += '>bloc</option>';
				}

				if ( ( mode == "d" ) ||
					( mode == "diff" ) ||
					( mode == "difficulte" ) ||
					( mode == "a" ) ||
					( mode == "autre" ) )
				{
					options += '<option value="diff"';
					if ( page == 'diff' )
					{
						flagSelect = true;
						options += ' selected';
					}
					options += '>diff</option>';
				}
				
				let v = Object.keys(voie);
				for ( var i = 0; i < v.length; i++ )
				{
					options += '<option value="'+v[i]+'"';
					if ( page == v[i] )
					{
						flagSelect = true;
						options += ' selected';
					}
					options += '>' + voie[ v[i] ].type + ' : ' + v[i] + '</option>';
				}
			%>
			<div <% if ( flagSelect ) { %> class="selected" <% } %>><select onchange="window.location.href = '/set/'+this.value;"; >
				<%- options %>
			</select></div>
		<% } %>
	</div>
	<% include slider %>
</nav>