<!DOCTYPE html>
<html>
	<%- include("partials/head.html") -%>
	<body>
		<%- include("partials/nav.html") -%>
		<section>
			<form>
				<button id="start">Start</button>
				<div>
					<label for="time">Durée de la competition en minutes</label>
					<input id="time" type="number" value="60" placeholder="temps en minutes"/>
				</div>

				<div>
					<label>Quelles categories</label>
					<ul id="categories"></ul>
				</div>
				<button id="stop">Stop</button>
				<button id="halt">Halt</button>
				<p id="serverMsg"></p>
			</form>
		</section>
		<script nonce="<%- locals.nonce %>">
			let domEls = {
				serverMsg: document.getElementById ( "serverMsg" ),
				categories: document.getElementById ( "categories" ),
			};

			if ( !socket )
			{
				var socket = io ( );
			}

			let categories = {};
			
			socket.on ( "connect", ()=>{
				socket.emit ( "getListOfAllTypes" );
				socket.emit ( "getVoies", {} );
				socket.emit ( "getListOfAllCategories" );
			});

			socket.on ( "error", (msg)=>{
				domEls.serverMsg.display = "";
				domEls.serverMsg.innerText = msg;

				document.body.style.backgroundColor = "red";

				setTimeout ( ()=>{
					document.body.style.backgroundColor = "";
				}, 1000 );
			});

			socket.on ( "ok", ()=>{
				document.body.style.backgroundColor = "green";

				setTimeout ( ()=>{
					document.body.style.backgroundColor = "";
				}, 1000 );
			});

			socket.on ( "setListOfAllCategories", (msg)=>
			{
				while ( domEls.categories.firstChild )
				{
					domEls.categories.removeChild ( domEls.categories.lastChild );
				}

				categories = {};

				for ( let cat of msg )
				{
					let div = document.createElement( "li" );
					domEls.categories.appendChild ( div );

					let input = document.createElement ( "input" );
					div.appendChild ( input );
					input.type = "checkbox",
					input.id = "cat_"+cat;
					input.checked = true;
					categories[ cat ] = true;

					let label = document.createElement ( "label" );
					div.appendChild ( label );
					label.htmlFor = "cat_"+cat;;
					label.innerText = " "+cat;

					input.addEventListener ( "change", (ev)=>{
						categories[ cat ] = ev.target.checked;
					});
				}
			});


			document.getElementById ( "start" ).addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );
				let msg = {
					time: Number ( document.getElementById ( "time").value ),
					categories: categories,
				};
				socket.emit ( "start", msg );
			});

			document.getElementById ( "stop" ).addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );
				socket.emit ( "stop" );
			});

			document.getElementById ( "halt" ).addEventListener ( "click", (ev)=>{
				ev.preventDefault ( );
				
				fetch("/ajax/halt",{
						method:"POST"
					})
					.then ( console.log )
					.catch ( console.log )
			})
		</script>
	</body>
</html>