<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include nav %>
		<section>
			<div>
				<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_average"></canvas>
				<span class="smothText"><label for="avreage_percent"> affichage en %</label><input type="checkbox" id="avreage_percent" onchange="drawCurves ( );"></span>
			</div>
			<div>
				<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_nbTry"></canvas>
			</div>
		</section>
		<script type="text/javascript" src="/js/chartjs.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			let socket = io ( );
			let users = <%- JSON.stringify(users) %>;
			let voie = <%- JSON.stringify(voie) %>;
			let score = <%- JSON.stringify(score) %>;

			var config = {
				"try" : {
					type: 'bar',
					// type: 'line',
					data: {
						labels: [ ],
						datasets: [
							{
								backgroundColor: "rgba(255,0,0,0.2)",
								borderColor: "#f00",
								data: [ ],
								label: 'nb reussite'
							},
							{
								backgroundColor: "rgba(255,255,0,0.2)",
								borderColor: "#ff0",
								data: [ ],
								label: 'nb joueur ayant tenté'
							},
							{
								backgroundColor: "rgba(0,255,255,0.2)",
								borderColor: "rgba(0,255,255,0.2)",
								data: [],
								label: 'nb tentatives'
							},
							{
								backgroundColor: "rgba(0,0,255,0.4)",
								borderColor: "rgba(0,0,255,0.4)",
								data: [],
								label: 'nb participants'
							}
						]
					},
					options: {
						animation: false,
						responsive: true,
						legend: {
							// display: true,
							display: false,
						},
						title: {
							display: true,
							text: "Tentativés"
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'users rank'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'points',
								},
								ticks: {
									suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
								}
							}]
						}
					}
				},
				'average' : {
					type: 'bar',
					data: {
						labels: [ ],
						datasets: [
							{
								backgroundColor: "rgba(255,0,0,0.2)",
								borderColor: "#f00",
								data: [ ],
								label: "moyenne totale"
							},
							{
								backgroundColor: "rgba(255,255,0,0.2)",
								borderColor: "rgba(255,255,0,0.2)",
								data: [ ],
								label: "moyenne des gens l'ayant tenté"
							},
							{
								backgroundColor: "rgba(0,0,255,0.4)",
								borderColor: "rgba(0,0,255,0.4)",
								data: [ ],
								label: "maximum"
							}
						]
					},
					options: {
						animation: false,
						responsive: true,
						legend: {
							// display: true,
							display: false,
						},
						title: {
							display: true,
							text: "Résultats"
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'users rank'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'points',
								},
								ticks: {
									suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
								}
							}]
						}
					}
				}
			};

			let average = [];
			let player = 0;
			let chartjs = {};
		</script>
		<script type="text/javascript"> // sockets
			socket.on ( 'scores', function ( data )
			{
				setScore ( data.usr, data.voie, data.points );

				calcAverage ( );
			});

			socket.on ( 'users', function ( usr )
			{
				let i;
				for ( i = 0; i < users.length; i++ )
				{
					if ( users[ i ].name == usr.name )
					{
						break;
					}
				}

				if ( i == users.length )
				{
					users.push ( usr );
				}
			});
		</script>
		<script type="text/javascript"> // utils
			function setScore ( name, id, value )
			{
				if ( !name ||
					( id == undefined ) )
				{
					return ( false );
				}

				if ( !score[ name ] )
				{
					score[ name ] = [];
				}

				if ( !score[ name ][ id ] )
				{
					score[ name ][ id ] = [];
				}
				
				score[ name ][ id ].push ( value );
			}
			function getScore ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}
				
				let max = score[ name ][ id ][ 0 ];
				for ( let i = 1; i < score[ name ][ id ].length; i++ )
				{
					if ( parseFloat( score[ name ][ id ][ i ] ) > parseFloat( max ) )
					{
						max = score[ name ][ id ][ i ];
					}
				}
				return ( max );
			}
			function getNbTests ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}

				return ( score[ name ][ id ].length );
			}
		</script>
		<script type="text/javascript"> // graph
			function drawCurves ( )
			{
				let ctx = document.getElementById ( "graph_average" ).getContext ( "2d" );

				let pourcent = document.getElementById ( "avreage_percent" ).checked;

				console.log( average );

				config[ 'average' ].data.labels = [];
				config[ 'average' ].data.datasets[ 0 ].data = [];
				config[ 'average' ].data.datasets[ 1 ].data = [];
				config[ 'average' ].data.datasets[ 2 ].data = [];

				// draw evolution of points for selected way
				for ( let i = 0; i < average.length; i++ )
				{
					config[ 'average' ].data.labels.push ( average[ i ].name );
					if ( pourcent )
					{
						config[ 'average' ].data.datasets[ 0 ].data.push ( average[ i ].total / player / average[ i ].max * 100 );
						config[ 'average' ].data.datasets[ 1 ].data.push ( average[ i ].total / average[ i ].nbTry / average[ i ].max * 100 );
						config[ 'average' ].data.datasets[ 2 ].data.push ( 100 );
					}
					else
					{
						config[ 'average' ].data.datasets[ 0 ].data.push ( average[ i ].total / player );
						config[ 'average' ].data.datasets[ 1 ].data.push ( average[ i ].total / average[ i ].nbTry );
						config[ 'average' ].data.datasets[ 2 ].data.push ( average[ i ].max );
					}
				}
				console.log( config[ 'average' ].data.datasets );

				if  ( chartjs[ 'average' ] )
				{
					chartjs[ 'average' ].update ( );
				}
				else
				{
					chartjs[ 'average' ] = new Chart ( ctx, config[ 'average' ] );
				}

				ctx = document.getElementById ( "graph_nbTry" ).getContext ( "2d" );

				config[ 'try' ].data.labels = [];
				config[ 'try' ].data.datasets[ 0 ].data = [];
				config[ 'try' ].data.datasets[ 1 ].data = [];
				config[ 'try' ].data.datasets[ 2 ].data = [];

				// draw evolution of points for selected way
				for ( let i = 0; i < average.length; i++ )
				{
					config[ 'try' ].data.labels.push ( average[ i ].name );
					config[ 'try' ].data.datasets[ 0 ].data.push ( average[ i ].success );
					config[ 'try' ].data.datasets[ 1 ].data.push ( average[ i ].nbPlayerTestIt );
					config[ 'try' ].data.datasets[ 2 ].data.push ( average[ i ].nbTry );
					config[ 'try' ].data.datasets[ 3 ].data.push ( player );
				}
				console.log ( config[ 'try' ].data.datasets[ 1 ].data );

				if  ( chartjs[ 'try' ] )
				{
					chartjs[ 'try' ].update ( );
				}
				else
				{
					chartjs[ 'try' ] = new Chart ( ctx, config[ 'try' ] );
				}
			}

			function calcAverage ( )
			{
				average = [];
				for ( let i = 0; i < voie.length; i++ )
				{
					average[ i ] = {};
					average[ i ].name = voie[ i ].name;
					average[ i ].nbTry = 0;
					average[ i ].nbPlayerTestIt = 0;
					average[ i ].total = 0;
					average[ i ].success = 0;
					player = 0;
					switch ( voie[ i ].type )
					{
						case 'bloc':
						{
							average[ i ].max = voie[ i ].score.fin;
							break;
						}
						case 'diff':
						{
							if ( voie[ i ].score.tete )
							{
								average[ i ].max = voie[ i ].score.tete[ voie[ i ].score.tete.length - 1 ];
							}
							else
							{
								average[ i ].max = voie[ i ].score.moul[ voie[ i ].score.moul.length - 1 ];
							}
							break;
						}
						case 'vitesse':
						{
							average[ i ].max = voie[ i ].score.time;
							break;
						}
						case 'slack':
						{
							average[ i ].max = voie[ i ].score.distance;
							break;
						}
					}
				}

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ])
					{
						continue;
					}
					player++;

					for ( let j = 0; j < voie.length; j++ )
					{
						average[ j ].nbTry += getNbTests ( users[ i ].name, j ) | 0;
						average[ j ].total += getScore ( users[ i ].name, j ) | 0;
						average[ j ].nbPlayerTestIt += ( getNbTests ( users[ i ].name, j ) )? 1 : 0;;

						if ( ( voie[ j ].type != 'vitesse' ) &&
							( getScore ( users[ i ].name, j ) == parseFloat ( average[ j ].max ) ) )
						{
							average[ j ].success++;
						}
					}
				}
				drawCurves ( );
			}

			calcAverage ( );
		</script>
	</body>
</html>
