<!DOCTYPE html>
<html>
	<% include head %>
	<body>
		<% include nav %>
		<section id="stats">
			<div class="graphPaper">
				<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_average"></canvas>
				<span class="smothText"><label for="avreage_percent"> affichage en %</label><input type="checkbox" id="avreage_percent" onchange="graph_average ( );"></span>
			</div>
			<div class="graphPaper">
				<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_nbTry"></canvas>
			</div>
			<div class="graphPaper" id="clubsGrpahs">
			</div>
			<div class="graphPaper" id="peoplesGrpahs">
			</div>
		</section>
		<div id="popupMenu">
			<div>
				<div><label for="check_average">Moyenne : </label><input id="check_average" type="checkbox" checked disabled onchange="graph_average ( );"></div>
				<div><label for="check_nbTry">Essais : </label><input id="check_nbTry" type="checkbox" checked disabled onchange="graph_try ( );"></div>
				<div><label for="check_club">Categories : </label><input id="check_club" type="checkbox" onchange="graph_club ( );"></div>
				<div><label for="check_genre">Genre : </label><input id="check_genre" type="checkbox" onchange="graph_participants ( );"></div>
			</div>
		</div>
		<script type="text/javascript" src="/js/chartjs.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript"> // globals vars
			let socket = io ( );
			let users = <%- JSON.stringify(users) %>;
			let voie = <%- JSON.stringify(voie) %>;
			let score = <%- JSON.stringify(score) %>;

			var config = {
				"try" : {
					type: 'bar',
					// type: 'line',
					data: {
						labels: [ ],
						datasets: [
							{
								backgroundColor: "rgba(255,0,0,0.7)",
								borderColor: "rgba(255,0,0,0.7)",
								data: [ ],
								label: 'nb reussite'
							},
							{
								backgroundColor: "rgba(255,255,0,0.7)",
								borderColor: "rgba(255,255,0,0.7)",
								data: [ ],
								label: 'nb joueur ayant tenté'
							},
							{
								backgroundColor: "rgba(0,255,0,0.7)",
								borderColor: "rgba(0,255,0,0.7)",
								data: [],
								label: 'nb tentatives'
							},
							{
								backgroundColor: "rgba(0,0,255,0.7)",
								borderColor: "rgba(0,0,255,0.7)",
								data: [],
								label: 'nb participants',
								fill:false,
								type: 'line'
							}
						]
					},
					options: {
						animation: false,
						responsive: true,
						title: {
							display: true,
							text: "Tentatives"
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'users rank'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'points',
								},
								ticks: {
									suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
								}
							}]
						}
					}
				},
				'average' : {
					type: 'bar',
					data: {
						labels: [ ],
						datasets: [
							{
								backgroundColor: "rgba(255,0,0,0.7)",
								borderColor: "rgba(255,0,0,0.7)",
								data: [ ],
								label: "moyenne totale"
							},
							{
								backgroundColor: "rgba(255,255,0,0.7)",
								borderColor: "rgba(255,255,0,0.7)",
								data: [ ],
								label: "moyenne des gens l'ayant tenté"
							},
							{
								backgroundColor: "rgba(0,0,255,0.7)",
								borderColor: "rgba(0,0,255,0.7)",
								data: [ ],
								label: "maximum"
							}
						]
					},
					options: {
						animation: false,
						responsive: true,
						title: {
							display: true,
							text: "Résultats"
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'users rank'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'points',
								},
								ticks: {
									suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
								}
							}]
						}
					}
				},
			};

			let average = [];
			let player = 0;
			let chartjs = {};
			let clubList = [];
			let clubs = {};
		</script>
		<script type="text/javascript"> // sockets
			socket.on ( 'scores', function ( data )
			{
				setScore ( data.usr, data.voie, data.points );

				calcAverage ( );
			});

			socket.on ( 'users', function ( usr )
			{
				let i;
				for ( i = 0; i < users.length; i++ )
				{
					if ( users[ i ].name == usr.name )
					{
						break;
					}
				}

				if ( i == users.length )
				{
					users.push ( usr );
				}
			});
		</script>
		<script type="text/javascript"> // utils
			function setScore ( name, id, value )
			{
				if ( !name ||
					( id == undefined ) )
				{
					return ( false );
				}

				if ( !score[ name ] )
				{
					score[ name ] = [];
				}

				if ( !score[ name ][ id ] )
				{
					score[ name ][ id ] = [];
				}
				
				score[ name ][ id ].push ( value );
			}
			function getScore ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}
				
				let max = score[ name ][ id ][ 0 ];
				for ( let i = 1; i < score[ name ][ id ].length; i++ )
				{
					if ( parseFloat( score[ name ][ id ][ i ] ) > parseFloat( max ) )
					{
						max = score[ name ][ id ][ i ];
					}
				}
				return ( max );
			}
			function getNbTests ( name, id )
			{
				if ( !name ||
					( id == undefined ) ||
					!score[ name ] ||
					!score[ name ][ id ] )
				{
					return ( false );
				}

				return ( score[ name ][ id ].length );
			}
		</script>
		<script type="text/javascript"> // graph
			function graph_average ( )
			{
				if ( !document.getElementById ( 'check_average' ).checked )
				{
					return;
				}

				let ctx = document.getElementById ( "graph_average" ).getContext ( "2d" );

				let pourcent = document.getElementById ( "avreage_percent" ).checked;

				config[ 'average' ].data.labels = [];
				config[ 'average' ].data.datasets[ 0 ].data = [];
				config[ 'average' ].data.datasets[ 1 ].data = [];
				config[ 'average' ].data.datasets[ 2 ].data = [];

				// draw evolution of points for selected way
				for ( let i = 0; i < average.length; i++ )
				{
					if ( pourcent )
					{
						config[ 'average' ].options.scales.yAxes[0].scaleLabel.labelString = "% max de points";
						config[ 'average' ].data.labels.push ( average[ i ].name + ' %' );
						config[ 'average' ].data.datasets[ 0 ].data.push ( ( average[ i ].total / player / average[ i ].max * 100 ) | 0 );
						config[ 'average' ].data.datasets[ 1 ].data.push ( ( average[ i ].total / average[ i ].nbPlayerTestIt / average[ i ].max * 100 ) | 0 );
					}
					else
					{
						config[ 'average' ].options.scales.yAxes[0].scaleLabel.labelString = "points";
						config[ 'average' ].data.labels.push ( average[ i ].name );
						config[ 'average' ].data.datasets[ 0 ].data.push ( ( average[ i ].total / player ) | 0 );
						config[ 'average' ].data.datasets[ 1 ].data.push ( ( average[ i ].total / average[ i ].nbPlayerTestIt ) | 0 );
						config[ 'average' ].data.datasets[ 2 ].data.push ( ( average[ i ].max ) | 0 );
					}
				}

				if  ( chartjs[ 'average' ] )
				{
					chartjs[ 'average' ].update ( );
				}
				else
				{
					chartjs[ 'average' ] = new Chart ( ctx, config[ 'average' ] );
				}
			}

			function graph_try ( )
			{
				if ( !document.getElementById ( 'check_nbTry' ).checked )
				{
					return;
				}

				let ctx = document.getElementById ( "graph_nbTry" ).getContext ( "2d" );

				config[ 'try' ].data.labels = [];
				config[ 'try' ].data.datasets[ 0 ].data = [];
				config[ 'try' ].data.datasets[ 1 ].data = [];
				config[ 'try' ].data.datasets[ 2 ].data = [];
				config[ 'try' ].data.datasets[ 3 ].data = [];

				// draw evolution of points for selected way
				for ( let i = 0; i < average.length; i++ )
				{
					config[ 'try' ].data.labels.push ( average[ i ].name );
					config[ 'try' ].data.datasets[ 0 ].data.push ( average[ i ].success );
					config[ 'try' ].data.datasets[ 1 ].data.push ( average[ i ].nbPlayerTestIt );
					config[ 'try' ].data.datasets[ 2 ].data.push ( average[ i ].nbTry );
					config[ 'try' ].data.datasets[ 3 ].data.push ( player );
				}

				if ( chartjs[ 'try' ] )
				{
					chartjs[ 'try' ].update ( );
				}
				else
				{
					chartjs[ 'try' ] = new Chart ( ctx, config[ 'try' ] );
				}
			}

			function graph_club ( )
			{
				let div = document.getElementById ( 'clubsGrpahs' );
				if ( !document.getElementById ( 'check_club' ).checked )
				{
					div.style.display = "none";
					return;
				}
				div.style.display = "";

		
				for ( let i = 0; i < clubList.length; i++ )
				{
					if ( !document.getElementById ( 'graph_club_'+clubList[ i ] ) )
					{
						div.innerHTML += '<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_club_'+clubList[ i ]+'"></canvas>';
					}
				}

				for ( let i = 0; i < clubList.length; i++ )
				{
					let ctx = document.getElementById ( 'graph_club_' + clubList[ i ] ).getContext ( "2d" );

					if ( !chartjs[ 'club_' + clubList[ i ] ] )
					{
						config[ 'club_' + clubList[ i ] ] = {
							type: 'bar',
							data: {
								labels: [ ],
								datasets: [	]
							},
							options: {
								animation: false,
								responsive: true,
								title: {
									display: false,
								},
								tooltips: {
									mode: 'index',
									intersect: false,
								},
								hover: {
									mode: 'nearest',
									intersect: true
								},
								scales: {
									xAxes: [{
										display: true,
										scaleLabel: {
											display: false,
										}
									}],
									yAxes: [{
										display: true,
										scaleLabel: {
											display: true,
											labelString: 'nb participants',
										},
										ticks: {
											suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
										}
									}]
								}
							}
						}
					}
					else
					{
						config[ 'club_' + clubList[ i ] ].data.datasets = [];
					}

					config[ 'club_' + clubList[ i ] ].data.labels = [ clubList[ i ] ];

					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,0,0,0.7)", borderColor: "rgba(255,0,0,0.7)", data: [ clubs[ clubList[ i ] ].microbe ], label: "microbe" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,30,0,0.7)", borderColor: "rgba(255,30,0,0.7)", data: [ clubs[ clubList[ i ] ].poussin ], label: "poussin" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,60,0,0.7)", borderColor: "rgba(255,60,0,0.7)", data: [ clubs[ clubList[ i ] ].bejamin ], label: "bejamin" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,90,0,0.7)", borderColor: "rgba(255,90,0,0.7)", data: [ clubs[ clubList[ i ] ].minime ], label: "minime" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,120,0,0.7)", borderColor: "rgba(255,120,0,0.7)", data: [ clubs[ clubList[ i ] ].cadet ], label: "cadet" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,150,0,0.7)", borderColor: "rgba(255,150,0,0.7)", data: [ clubs[ clubList[ i ] ].senior ], label: "senior" });
					config[ 'club_' + clubList[ i ] ].data.datasets.push ({ backgroundColor: "rgba(255,180,0,0.7)", borderColor: "rgba(255,180,0,0.7)", data: [ clubs[ clubList[ i ] ].veterant ], label: "veterant" });

					if ( chartjs[ 'club_' + clubList[ i ] ] )
					{
						chartjs[ 'club_' + clubList[ i ] ].update ( );
					}
					else
					{
						chartjs[ 'club_' + clubList[ i ] ] = new Chart ( ctx, config[ 'club_' + clubList[ i ] ] );
					}
				}
			}

			function graph_participants ( )
			{
				let div = document.getElementById ( 'peoplesGrpahs' );
				if ( !document.getElementById ( 'check_genre' ).checked )
				{
					div.style.display = "none";
					return;
				}
				div.style.display = "";

				if ( !document.getElementById ( 'graph_gender' ) )
				{
					div.innerHTML = "";
	
					div.innerHTML += '<canvas width="700" height="700" class="chartjs-render-monitor" id="graph_gender"></canvas>';
				}

				if ( !chartjs[ 'gender' ] )
				{
					config[ 'gender' ] = {
						type: 'bar',
						data: {
							labels: [ ],
							datasets: [	]
						},
						options: {
							animation: false,
							responsive: true,
							title: {
								display: false,
							},
							tooltips: {
								mode: 'index',
								intersect: false,
							},
							hover: {
								mode: 'nearest',
								intersect: true
							},
							scales: {
								xAxes: [{
									display: true,
									scaleLabel: {
										display: false,
									}
								}],
								yAxes: [{
									display: true,
									scaleLabel: {
										display: true,
										labelString: 'nb participants',
									},
									ticks: {
										suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
									}
								}]
							}
						}
					}
				}
				else
				{
					config[ 'gender' ].data.labels = [];
					config[ 'gender' ].data.datasets = [];
				}

				config[ 'gender' ].data.datasets.push ({ backgroundColor: "rgba(255,85,0,0.7)", borderColor: "rgba(255,85,0,0.7)", data: [ ], label: "homme" });
				config[ 'gender' ].data.datasets.push ({ backgroundColor: "rgba(255,170,0,0.7)", borderColor: "rgba(255,170,0,0.7)", data: [ ], label: "femme" });

				for ( let i = 0; i < clubList.length; i++ )
				{
					config[ 'gender' ].data.labels.push ( clubList[ i ] );
					config[ 'gender' ].data.datasets[ 0 ].data.push ( clubs[ clubList[ i ] ].homme );
					config[ 'gender' ].data.datasets[ 1 ].data.push ( clubs[ clubList[ i ] ].femme );
				}

				if ( chartjs[ 'gender' ] )
				{
					chartjs[ 'gender' ].update ( );
				}
				else
				{
					chartjs[ 'gender' ] = new Chart ( document.getElementById ( 'graph_gender' ).getContext ( "2d" ), config[ 'gender' ] );
				}
			}
			
			function getClubsStats ( )
			{
				clubList = [];
				clubList.push ( 'tous' );

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ])
					{
						continue;
					}

					if ( !clubList.includes ( users[ i ].club ) )
					{
						clubList.push ( users[ i ].club );
						clubs[ users[ i ].club ] = {};
						clubs[ users[ i ].club ].microbe = 0;
						clubs[ users[ i ].club ].poussin = 0;
						clubs[ users[ i ].club ].bejamin = 0;
						clubs[ users[ i ].club ].minime = 0;
						clubs[ users[ i ].club ].cadet = 0;
						clubs[ users[ i ].club ].senior = 0;
						clubs[ users[ i ].club ].veterant = 0;
						clubs[ users[ i ].club ].homme = 0;
						clubs[ users[ i ].club ].femme = 0;
						clubs[ users[ i ].club ].nbTry = 0;
						clubs[ users[ i ].club ].win = 0;
					}

					clubs[ users[ i ].club ][ users[ i ].categorie ]++;
					clubs[ users[ i ].club ][ users[ i ].genre ]++;

					for ( let j = 0; j < voie.length; j++ )
					{
						clubs[ users[ i ].club ].nbTry += getNbTests ( users[ i ].name, j ) | 0;

						if ( average[ i ].max == getScore ( users[ i ].name, j ) | 0 )
						{
							clubs[ users[ i ].club ].win++;;
						}
					}
				}

				clubs[ 'tous' ] = {};
				clubs[ 'tous' ].microbe = 0;
				clubs[ 'tous' ].poussin = 0;
				clubs[ 'tous' ].bejamin = 0;
				clubs[ 'tous' ].minime = 0;
				clubs[ 'tous' ].cadet = 0;
				clubs[ 'tous' ].senior = 0;
				clubs[ 'tous' ].veterant = 0;
				clubs[ 'tous' ].homme = 0;
				clubs[ 'tous' ].femme = 0;
				clubs[ 'tous' ].nbTry = 0;
				clubs[ 'tous' ].win = 0;

				for ( let i = 0; i < clubList.length; i++ )
				{
					clubs[ 'tous' ].microbe += clubs[ clubList[ i ] ].microbe;
					clubs[ 'tous' ].poussin += clubs[ clubList[ i ] ].poussin;
					clubs[ 'tous' ].bejamin += clubs[ clubList[ i ] ].bejamin;
					clubs[ 'tous' ].minime += clubs[ clubList[ i ] ].minime;
					clubs[ 'tous' ].cadet += clubs[ clubList[ i ] ].cadet;
					clubs[ 'tous' ].senior += clubs[ clubList[ i ] ].senior;
					clubs[ 'tous' ].veterant += clubs[ clubList[ i ] ].veterant;
					clubs[ 'tous' ].homme += clubs[ clubList[ i ] ].homme;
					clubs[ 'tous' ].femme += clubs[ clubList[ i ] ].femme;
					clubs[ 'tous' ].nbTry += clubs[ clubList[ i ] ].nbTry;
					clubs[ 'tous' ].win += clubs[ clubList[ i ] ].win;
				}
			}

			function calcAverage ( )
			{
				average = [];
				for ( let i = 0; i < voie.length; i++ )
				{
					average[ i ] = {};
					average[ i ].name = voie[ i ].name;
					average[ i ].nbTry = 0;
					average[ i ].nbPlayerTestIt = 0;
					average[ i ].total = 0;
					average[ i ].success = 0;
					player = 0;
					switch ( voie[ i ].type )
					{
						case 'bloc':
						{
							average[ i ].max = voie[ i ].score.fin;
							break;
						}
						case 'diff':
						{
							if ( voie[ i ].score.tete )
							{
								average[ i ].max = voie[ i ].score.tete[ voie[ i ].score.tete.length - 1 ];
							}
							else
							{
								average[ i ].max = voie[ i ].score.moul[ voie[ i ].score.moul.length - 1 ];
							}
							break;
						}
						case 'vitesse':
						{
							average[ i ].max = voie[ i ].score.time;
							break;
						}
						case 'slack':
						{
							average[ i ].max = voie[ i ].score.distance;
							break;
						}
					}
				}

				for ( let i = 0; i < users.length; i++ )
				{
					if ( !score[ users[ i ].name ])
					{
						continue;
					}
					player++;

					for ( let j = 0; j < voie.length; j++ )
					{
						average[ j ].nbTry += getNbTests ( users[ i ].name, j ) | 0;
						average[ j ].total += getScore ( users[ i ].name, j ) | 0;
						average[ j ].nbPlayerTestIt += ( getNbTests ( users[ i ].name, j ) )? 1 : 0;;

						if ( ( voie[ j ].type != 'vitesse' ) &&
							( getScore ( users[ i ].name, j ) == parseFloat ( average[ j ].max ) ) )
						{
							average[ j ].success++;
						}
					}
				}
			}
			
			calcAverage ( );
			getClubsStats ( );
			
			graph_average ( );
			graph_try ( );

			graph_club ( );
			graph_participants ( );

			document.getElementById ( 'popupMenu' ).addEventListener ( "contextmenu", function ( ev )
			{
				ev.preventDefault();
				ev.stopPropagation();
				document.getElementById ( 'popupMenu' ).style.display = "none";
			});

			document.addEventListener ( "contextmenu", function ( ev )
			{
				ev.preventDefault();
				ev.stopPropagation();
				document.getElementById ( 'popupMenu' ).style.display = "flex";
			});
		</script>
	</body>
</html>
