<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			html 
			{
				height: 100%;
			}
			body
			{

				background-color: #333;
				color: #f55;
				font:normal 10pt Consolas, Monaco, monospace;
				height: 100%;
			}
			section
			{
				height: 100%;

				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
			}
			a
			{
				color:grey;
			}
		</style>
	</head>
	<body>
		<section>
			<p><%- msg %></p>
			<a href="/">back</a>
		</section>
	</body>
</html>