.onlyDark
{
	display:none;
}

a
{
	color:black;
}
a:disabled
{
	color:grey;
}

nav > div.mainLinks > *.selected
{
	border-bottom: 3px solid #fff;
}

.hightlight
{
	background: rgba(128,128,128,0.5);
}

.smothText
{
	color: grey;
}

.graphPaper
{
	background-color: #eee;
}

.suggestion
{
	background: lightgrey;
}

.suggestion:hover
{
	background: grey;
}