html 
{
	height: 100%;
}

body
{
	background-color: var( --color-back );
	color: var( --color-text );

	font: normal 10pt Consolas, Monaco, monospace;
	height: calc( 100% - 20px );
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

section
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow:auto;
}

div {
	width: 100%;
}
form {
	max-width: 100%;
	min-width: 300px;
	padding: 5px;
}
div, form {
	overflow: auto;
	display: flex;
	flex-direction: column;
}

div.row {
	flex-direction: row;
}

table
{
	display: unset;
	overflow: auto;
	border-collapse: collapse;
	border: solid 1px;
	max-width: 100%;
	width:100%;
}
table tr
{
	border: solid 1px;
}
table td
{
	border: solid 1px;
	text-align: center;
	padding: 5px;
}

input, select, button
{
	border-radius: 5px;
	margin-bottom: 5px;
}

input
{
	width: calc( 100% - 10px );
}
input[type=checkbox]
{
	width: initial;
}

select
{
	width: 100%;
}

td
{
	min-width:50px;
}

:root {
	color-scheme: light dark;
	--color-back: light-dark( white, black );
	--color-text: light-dark( black, white );
}

.marged {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mobiles {
	display: none;
}