html 
{
	height: 100%;
}


body
{
	font:normal 10pt Consolas, Monaco, monospace;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}


nav
{
	margin: 5px;
}


section
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > div
{
	flex-shrink: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	height:100%;
	max-width: 100%;
}
section > div > *
{
	max-width: 100%;
}


table
{
	border-collapse: collapse;
	border: solid 1px;
}
table tr
{
	border: solid 1px;
}
table td
{
	border: solid 1px;
	text-align: center;
	padding: 5px;
}


footer
{
	display: flex;
	justify-content: center;
}


input, select, button
{
	border-radius: 5px;
	margin-bottom: 5px;
}

section input[type='text'], section input[type='number'], section select
{
	width: 100%;
}

#results
{
	margin: 20px;
	padding: 5px;
	overflow-x: auto;
}

.graphPaper
{
	margin:5px;
}

#popupMenu
{
	position: fixed;
	top : 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;

	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: rgba( 0,0,0,0.7 );
	padding: 20px;
}
#popupMenu > div
{
	display: flex;
	flex-direction: column;
	background-color: #333;
	color: white;
	padding: 20px;
	border-radius: 10px;
}
#popupMenu > div input
{
	float: right;
}

#stats > div
{
	display: block;
	height: auto;
	text-align: center;
	max-width: 500px;
}

#addUser
{
	justify-content: center;
}
#addUser > div
{
	height: auto;
	min-width: 300px;
}