html 
{
	height: 100%;
}


body
{
	font:normal 10pt Consolas, Monaco, monospace;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}


nav
{
	margin: 5px;
}


section
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section > div
{
	flex-shrink: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100%;
}


table
{
	border-collapse: collapse;
	border: solid 1px;
}
table tr
{
	border: solid 1px;
}
table td
{
	border: solid 1px;
	text-align: center;
	padding: 5px;
}


footer
{
	display: flex;
	justify-content: center;
}


input, select, button
{
	border-radius: 5px;
	margin-bottom: 5px;
}

section input, section select
{
	width: 100%;
}

#results
{
	margin: 20px;
	padding: 5px;
	max-height: calc( 100% - 100px );
	max-width: calc( 100% - 100px );
	overflow-x: auto;
	overflow-y: auto;
}