@media (max-width: 1280px)
{
	section
	{
		flex-direction: column;
	}
	select, input, button, label
	{
		font-size: 2em;
	}
	input[type=checkbox]
	{
		transform: scale(2);
		position: relative;
		top: -5px;
	}


	thead td, th
	{
		writing-mode: vertical-lr;
		transform: rotate( 180deg );
	}
	table input
	{
		width: 4em;
	}
	td
	{
		min-width: initial;
	}

	nav > img {
		width: 30px;
	}

	#graphs {
		display: none;
	}

	div.mobiles {
		display: block;
	}
}

@media (max-width: 600px)
{
	form {
		width: 100%;
		min-width: initial;
	}

	div.row {
		flex-direction: column;
	}

	input.mobiles[type=radio] + * {
		display: none;
	}

	input.mobiles[type=radio]:checked + * {
		display: unset;
	}
}